* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 16px/20px 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404448;
}

.cert__header {
    padding: 10px 0;
    text-align: center;
}

.cert__logo {
    display: block;
    margin: 0 auto 0;
    width: 285px;
    height: 60px;
}

.cert__logo-descr {
    font-size: 19px;
    color: #707478;
}
.cert__type {
    margin: 0;
    font-size: 48px;
    line-height: 1.2;
    height: 120px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.cert__name-label {
    margin: 50px 0 0;
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    color: #707478;
}
.cert__name {
    max-width: 80%;
    margin: 0 auto 20px;
    font-size: 40px;
    line-height: 1.2;
    height: 100px;
    font-weight: bold;
    text-align: center;
}
.cert__machine {
    float: left;
    width: 70%;
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    padding: 0 15px;
}
.cert__machine-label {
    color: #707478;
    font-size: 20px;
}
.cert__expire {
    float: left;
    width: 30%;
    margin: 0;
    padding: 0 15px;
    font-size: 24px;
    line-height: 1.2;
    text-align: right;
}
.cert__expire-label {
    color: #707478;
    font-size: 20px;
}
.cert__expire-date {
    display: block;
}
.cert__divider {
    width: 35%;
    height: 4px;
    border-radius: 10px;
    margin: 60px auto 50px;
    background: #f0f4f8;
}
.cert__description {
    margin: 0 auto;
    width: 60%;
    font-size: 24px;
    line-height: 1.5;
    color: #707478;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container--80 {
    max-width: 80%;
}
.row {
    margin: 0 -15px;
}
.container:before, .container:after, .row:before, .row:after {
    display: table;
    content: " ";
}
.container:after, .row:after {
    clear: both;
}
.col50 {
    position: relative;
    float: left;
    width: 50%;
}

.cert__bg {
    display: block;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
    color: #e9ecf0;
}

.cert__site {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 53px;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.cert__site-text {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left;
}
.cert__site-text > span {
    color: #e00457;
}

.cert__qr {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: 150px;
    width: 125px;
    height: 125px;
}