
.cutting-full-screen-mode .cookie-modal {
    display: none;
}

.cutting-full-screen-mode .widget-user-confirm {
    display: none;
}

.cutting-full-screen-mode .widget-user-confirm {
    display: none;
}

.cutting-full-screen-mode .header-container {
    display: none;
}

.cutting-full-screen-mode .footer {
    display: none;
}

.cutting-full-screen-mode .wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.cutting-full-screen-mode .aff-widget {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: 100%;
}

.cutting-full-screen-mode .aff-widget-content {
    margin: 0px;
    padding: 0px;
}

.buttons-text {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .cutting-full-screen-mode .aff-widget-content {
        height: calc(100% - 116px);
        border: none;
    }
    .aff-widget-bottom-status {
        display: none;
    }
    .buttons-text {
        display: none;
    }
}

@media (min-width: 768px) {
    .cutting-full-screen-mode .aff-widget-content {
        height: calc(100% - 71px);
        border: none;
    }
    .aff-widget-bottom-status {
        float: left;
        width: 40%;
        margin-top: 10px;
        text-align: left;
    }
}

.cutting-full-screen-mode .aff-widget-bottom {
    max-width: 1000px;
    margin: 0px auto;
}
@media (max-width: 767px) {
    .cutting-full-screen-mode .aff-widget-bottom {
        padding-bottom: 0;
    }
    .cutting-full-screen-mode .aff-widget-bottom .btn {
        margin-bottom: 15px;
        margin-right: 0;
        margin-left: 15px;
    }
}


.cutting-full-screen-mode .aff-widget-tabs {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px;
}

.cutting-full-screen-mode .tab-pane {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.cutting-full-screen-mode .parts-view {
    height: calc(100% - 70px);
}

.cutting-full-screen-mode.cutting-several-files .parts-view {
    height: calc(100% - 70px - 40px);
}


.cutting-full-screen-mode #stage_view {
    height: 100%;
}

.cutting-full-screen-mode #worktable {
    height: 100%;
    width: 100%;
}

.cutting-full-screen-mode #snap {
    height: 100%;
}

.part-selector {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 15px;
    height: 60px;
}
.part-selector__label {
    float: left;
    margin: 10px 10px 0 0;
}
.part-selector__dropdown {
    float: right;
    width: calc(100% - 90px);
}
.part-selector .btn.dropdown-toggle {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    text-align: left;
}
.part-selector .dropdown > .dropdown-toggle [class*='down'] {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 10px;
}
@media (max-width: 500px) {
    .part-selector {
        padding: 10px;
    }
}

#worktable_menu {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 54, 153, 0.15);
    border-radius: 5px;
}

#worktable_menu .menuitem {
    padding: 15px;
    border-bottom: 1px solid #e0e4e8;
    cursor: pointer;
}
#worktable_menu .menuitem:last-child {
    border: 0;
    border-radius: 0 0 5px 5px;
}

#worktable_menu .menuitem:hover {
    background-color: #f0f4f8;
}

#worktable_menu .menuitem_info {
    padding: 10px 15px;
    color: #ffffff;
    background-color: #a0a4b0;
    border-radius: 5px 5px 0 0;
}

.cutting-widget-progress-backdrop {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.cutting-widget-progress-window {
    position: absolute;
    z-index: 1010;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 320px;
    padding: 32px 16px 16px;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    text-align: center;
    color: #4e5666;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 5px;
    background: #ffffff;
}
.cutting-widget-progress-window__text {
    margin: 0 0 30px;
    font-size: 20px;
}
.cutting-widget-progress-window__loader {
    margin-bottom: 10px;
}
.cutting-widget-progress-window--white {
    box-shadow: none;
}