
.get-notifications-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15);
    border-radius: 5px;
    max-width: 250px;
    z-index: 1;
    line-height: 1;
    font-size: 18px;
    color: white;
    background-color: #2d8ee0;
    cursor: pointer;
}
.get-notifications-button:hover {
    background-color: #41a8ff;
}