
.hire-designer-conent{
    margin: 0 -15px;
    background: #f7faff;
}

.hire-designer-controls{
    border-top: 1px solid #d2d6de;
    padding: 15px;
    text-align: right;
}

.hire-designer-designers{
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

.hire-designer-designers__designer-header{
    padding: 0;
    margin: 0 0 10px;
}

.hire-designer-designers__model-block{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}

.hire-designer-designers__designer{
    padding: 15px;
}

.hire-designer-designers__designer:not(:last-child){
    border-bottom: 1px dotted #d2d6de;
}

.add-placeholder{
    text-align: center;
    line-height: 100px !important;
    font-size: 40px;
    color: #c0c0c0;
    font-weight: 200;
    cursor: pointer;
}

.delete-model{
    display: none;
    position: absolute;
    padding-right: 4px;
    padding-bottom: 4px;
    background: white;
    border-radius: 0 0 4px 0;
}

.hire-designer-designers__model-block:hover .delete-model{
    display: inline-block !important;
}

.hire-designer__select-modal .select-item{
    padding: 10px;
    cursor: pointer;
}

.hire-designer__select-modal .select-item:not(:last-child){
    border-bottom: 1px dotted #d2d6de;
}

.hire-designer__select-modal .select-item img{
    width: 100%;
}
