<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select designer</h4>
            </div>
            <div
                ng-controller="HireDesignerSelectDesignerModalController"
                class="modal-body hire-designer__select-modal">
                <div>
                    <div class="form-group">
                        <input
                            ng-model="designerQuery"
                            type="text" class="form-control" placeholder="Designer username">
                    </div>
                </div>

                <div>

                    <div
                        ng-click="addDesigner(designer)"
                        ng-repeat="designer in designers"
                        class="select-item">{{designer.username}}</div>
                </div>

            </div>
            <div class="modal-footer">
                <button
                        ng-click="$dismiss()"
                        type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>