
<div class="modal fade" tabindex="-1" role="dialog" ng-controller="HireDesignerSelectModelModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add models</h4>
            </div>
            <div class="modal-body hire-designer__select-modal">

                <div
                    ng-if="loading"
                    class="text-center">Loading</div>

                <div
                    ng-if="!loading && models.length == 0"
                    class="text-center">Designer have't more models</div>

                <div
                    ng-repeat="model in models"
                    class="select-item row">

                    <div class="col-md-1">
                        <input
                            ng-disabled="!isSelected(model) && !canSelectMore()"
                            check-list-object="selectedModels"
                            value="model"
                            type="checkbox">
                    </div>

                    <div class="col-md-2">
                        <img ng-src="{{model.coverUrl}}"/>
                    </div>

                    <div class="col-md-9">
                        {{model.title}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button
                        ng-click="addSelectedModels()"
                        type="button" class="btn btn-success">Add models</button>
                <button
                        ng-click="$dismiss()"
                        type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>