
.model3dRenderLiveImgContainer {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}


.model3dRenderLiveImg {
    cursor: -webkit-grab;
    cursor: grab;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.model3dRenderLiveImgMoveCursor {
    cursor: move !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}

