html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: #575966;
    font-size: 16px;
    line-height: 25px;
    background: #ffffff;
}
* {
    box-sizing: border-box;
}
a {
    color: #4059ff;
    text-decoration-skip: ink;
}
a:hover {
    color: #0b26d9;
}
h1,h2,h3,h4 {
    color: #36394d;
}
h1 {
    margin: 30px 0;
    font-size: 40px;
    line-height: 50px;
}
h2 {
    margin: 20px 0 10px;
    font-size: 30px;
    line-height: 40px;
}
h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    line-height: 30px;
}
p {
    margin: 0 0 15px;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 5px 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
}
textarea {
    resize: vertical;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 20px;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    /*background: url("/img/grad.svg") no-repeat 50% 0 #ffffff;*/
    overflow: hidden;
    background-color: #300094;
    background-image: linear-gradient(135deg, #300094 0%, #00cad8 100%);
}
.bg__content {
    position: relative;
    height: 100%;
}
.bg__pic {
    position: absolute;
    right: 20px;
    width: 390px;
    bottom: 80px;
}
@media (max-width: 440px) {
    .bg__pic {
        bottom: 50px;
        right: 10px;
        width: 273px;
    }
    .bg {
        height: 700px;
    }
}

.content {
    flex: 1 0 auto;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #4059ff;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    line-height: 20px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 10, 76, 0.3);
    text-align: center;
    transition: all 0.3s ease;
}
.btn:hover {
    background: #0b26d9;
    color: #ffffff;
    box-shadow: none;
}
.btn--ghost {
    padding: 9px 29px;
    border: 1px solid #4059ff;
    color: #4059ff;
    background: #ffffff;
}
.btn--ghost:hover {
    border-color: #0b26d9;
    color: #ffffff;
}
.btn--white {
    color: #4059ff;
    background: #ffffff;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    background-color: #4059ff;
    box-shadow: 0 5px 10px rgba(0, 10, 76, 0.3);
    transition: all 0.3s ease;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: #0b26d9;
    box-shadow: none;
}

.inputfile + label svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -4px;
    margin-right: 5px;
}

.checkbox {
    position: relative;
    cursor: pointer;
}
.checkbox > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.checkbox > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 10px;
    border-radius: 4px;
    background: #d7d9e0;
}
.checkbox > span:before {
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 2px solid #36394d;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}
.checkbox > input:checked ~ span:before {
    opacity: 1;
}

.required {
    color: #ff3333;
}

.preloader {
    display: inline-block;
    vertical-align: bottom;
    animation: preloader-spin 5s infinite ease;
}
@keyframes preloader-spin {
    0% {
        transform: rotate(0deg);
    }
    16.6666% {
        transform: rotate(60deg);
    }
    33.3333% {
        transform: rotate(120deg);
    }
    49.9999% {
        transform: rotate(180deg);
    }
    66.6666% {
        transform: rotate(240deg);
    }
    83.3333% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header,
.bg__content,
.hero,
.article {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.article {
    max-width: 70ch;
}
header {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo {
    display: block;
    flex: 1 0 auto;
    padding: 5px 0 5px 55px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 100;
    background: url("/img/wm.svg") no-repeat 0 0 transparent;
    color: #36394d;
    text-decoration: none !important;
}
.logo > sup {
    font-size: 18px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.65em;
}
.header-nav {
    display: flex;
}
.header-nav a {
    flex: 1 0 auto;
    margin-right: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 40px;
    transition: all 0.3s ease;
}
.header-nav a:last-child {
    margin-right: 0;
}
.nav-close {
    display: none;
}
.header--main .logo {
    color: #fff;
}
.header--main .header-nav a {
    color: rgba(255, 255, 255, 0.7);
}
.header--main .header-nav a:hover {
    color: #ffffff;
}
@media (max-width: 890px) {
    .header-nav {
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 55px;
        height: 55px;
        right: 0;
    }
    .nav-close {
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        width: 40px;
        height: 40px;
        margin: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .nav-close > span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 40px;
        height: 4px;
        margin-top: -2px;
        margin-left: -20px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 1px 4px rgba(0, 10, 76, 0.3);
        transition: all 0.3s ease;
    }
    .nav-close > span:first-child {
        margin-top: -12px;
    }
    .nav-close > span:last-child {
        margin-top: 8px;
    }
    .header-nav a,
    .header--main .header-nav a {
        display: none;
        flex: 0 1 auto;
        color: #ffffff;
        width: 100%;
        margin: 0 0 20px;
        padding: 0 15px;
        text-align: center;
    }
    .header-nav.open {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        background: rgba(20, 27, 77, 0.9);
        overflow: hidden;
    }
    .header-nav.open .nav-close > span:first-child {
        margin-top: -2px;
        transform: rotate(45deg);
    }
    .header-nav.open .nav-close > span:nth-child(2) {
        opacity: 0;
    }
    .header-nav.open .nav-close > span:last-child {
        margin-top: -2px;
        transform: rotate(-45deg);
    }
    .header-nav.open a,
    .header--main .header-nav.open a {
        display: block;
    }
}

.ico {
    width: 18px;
    display: inline-block;
    height: 18px;
    margin-right: 6px;
    vertical-align: baseline;
    line-height: initial;
}
.ico > svg {
    width: 18px;
    height: 18px;
    vertical-align: top;
    stroke: currentColor;
    fill: currentColor;
}

.hero {
    margin-bottom: 80px;
}
.hero__title {
    max-width: 800px;
    margin: 80px 0 40px;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
}
.hero__subtitle {
    max-width: 670px;
    margin: 20px 0 40px;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
}
.hero__btn {
    margin-bottom: 15px;
    margin-right: 30px;
}
.hero__btn:last-child {
    margin-right: 0;
}
@media (min-width: 700px) and (max-width: 1000px) {
    .hero__title {
        max-width: 65%;
    }
    .hero__subtitle {
        max-width: 50%;
        font-size: 20px;
        line-height: 30px;
    }
}

.benefits {
    max-width: 1200px;
    margin: 0 auto 100px;
    padding: 0 15px;
}
.benefits__list {
    display: flex;
    padding: 30px 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 17, 51, 0.1);
}
.benefits__item {
    flex: 1 0 auto;
    width: 33.3333%;
    padding: 0 30px;
}
.benefits__pic {
    width: 60px;
    height: 60px;
}
.benefits__title {
    margin: 0 0 5px;
}
.benefits__text {
    margin: 0 0 10px;
}
@media (max-width: 700px) {
    .benefits__list {
        flex-wrap: wrap;
    }
    .benefits__item {
        width: 100%;
        margin-bottom: 20px;
    }
    .benefits__item:last-child {
        margin-bottom: 0;
    }
}

.functions {
    max-width: 730px;
    margin: 0 auto 30px;
    background: #ffffff;
    box-shadow: 0 5px 30px 0 rgba(0, 17, 51, 0.1);
    overflow: hidden;
}

.tab {
    overflow: hidden;
}
.tab button {
    float: left;
    width: 50%;
    background-color: #edeef5;
    border: none;
    border-top: 7px solid #c8cdde;
    outline: none;
    cursor: pointer;
    color: #36394d;
    padding: 13px 10px 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
}
.tab button:hover {
    background-color: #c8cdde;
}
.tab button.active {
    border-top-color: #4059ff;
    background-color: #ffffff;
    cursor: default;
}
.tabcontent {
    display: none;
    padding: 15px;
}

.line {
    width: 100%;
    padding-bottom: 20px;
}
.line:after {
    content: '';
    display: table;
    clear: both;
}
.textinput {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #d7d9e0;
    box-shadow: inset 0 1px 4px #edeef5;
}
.line__left {
    position: relative;
    float: left;
    width: 40%;
}

.line__error {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    padding: 2px 10px;
    background: #ff3333;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
}
.line__error:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #ff3333 transparent;
}
textarea + .line__error {
    top: 100%;
}
.line__error.open {
    display: block;
}

.help-block {
    float: left;
    display: block;
    width: 60%;
    padding-left: 30px;
    color: #6e7080;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 640px) {
    .line__left,
    .help-block {
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 420px) {
    .header-link {
        display: none;
    }
    .hero__title {
        margin-top: 40px;
        font-size: 30px;
        line-height: 35px;
    }
    .hero__subtitle {
        font-size: 20px;
        line-height: 30px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
}

.how {
    padding: 60px 0;
    background-color: #005bea;
    background-image: linear-gradient(45deg, #00c6fb 0%, #005bea 100%);
    color: rgba(255, 255, 255, 0.9);

}
.how__content {
    max-width: 1200px;
    margin: 50px auto 0;
}
.how h1 {
    margin-bottom: 50px;
    padding: 0 15px;
    text-align: center;
    font-weight: 100;
    color: #ffffff;
}
.how__list {
    display: flex;
}
.how__item {
    flex: 1 0 auto;
    width: 33.3333%;
    padding: 0 15px;
}
.how__pic {
    display: block;
    width: calc(100% - 30px);
    max-width: 300px;
    margin-left: 30px;
}
.how__title {
    margin: 0 0 10px;
    color: rgba(255, 255, 255, 0.9);
}
.how__count {
    display: inline-block;
    width: 40px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
}
.how__text {
    margin: 10px 0 20px 40px;
}
.how__text > a {
    font-weight: bold;
    color: inherit;
}
.how__text > a:hover {
    color: #ffffff;
}
@media (max-width: 440px) {
    .how__pic {
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .how__list {
        flex-wrap: wrap;
    }
    .how__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .how__item:last-child {
        margin-bottom: 0;
    }
}

.pricing {
    background: #f6f8fa;
    overflow: hidden;
}
.pricing__content {
    max-width: 1200px;
    margin: 80px auto 50px;
}
.pricing h1 {
    margin-bottom: 60px;
    padding: 0 15px;
    text-align: center;
    font-weight: 100;
}
.pricing__list {
    display: flex;
    justify-content: center;
}
.pricing__item {
    flex: 1 0 auto;
    width: 33.3333%;
    margin-bottom: 40px;
    padding: 0 15px;
    max-width: 300px;
}
.pricing__card {
    height: 100%;
    padding: 0 0 15px;
    background: #ffffff;
    box-shadow: 0 5px 30px 0 rgba(0, 17, 51, 0.1);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.pricing__grad {
    position: relative;
    padding: 15px 15px 30px;
    background-image: linear-gradient(180deg, #dfe2f2 0%, white 100%);
}
.pricing__grad > svg {
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
}
.pricing__title {
    margin: 10px 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.pricing__price {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.pricing__price sup {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.pricing__price small {
    font-size: 25px;
    line-height: 30px;
}
.pricing__price a {
    text-decoration: none;
    color: inherit;
}
.pricing__benefits {
    list-style: none;
    min-height: 95px;
    margin: 40px 0;
    padding: 0;
}
.pricing__benefits li + li {
    margin-top: 10px;
}
.pricing__benefits svg {
    position: relative;
    top: 2px;
    margin-right: 7px;
}
.pricing__cta {
    margin: 15px 0;
}
.pricing__item--commercial {}
.pricing__item--prem {}
.pricing__item--commercial .pricing__title,
.pricing__item--commercial .pricing__price,
.pricing__item--prem .pricing__title,
.pricing__item--prem .pricing__price {
    color: #ffffff;
}
.pricing__item--commercial .pricing__grad {
    background-image: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
}
.pricing__item--prem .pricing__grad {
    background-image: linear-gradient(to top, #273a4d 0%, #272d4d 100%);
}
@media (max-width: 700px) {
    .pricing__list {
        flex-wrap: wrap;
    }
    .pricing__item {
        width: 100%;
        max-width: 100%;
    }
    .pricing__item:last-child {
        margin-bottom: 0;
    }
    .pricing__benefits {
        min-height: 0;
    }
}

.press {
    margin-bottom: -50px;
    overflow: hidden;
    background: #f6f8fa;
    background-image: linear-gradient(0deg, #e0e3f2 0%, #f6f8fa 100%);
}
.press__content {
    max-width: 1200px;
    margin: 0 auto 50px;
}
.press h1 {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0 15px;
    text-align: center;
    font-weight: 100;
}
.press__list {
    display: flex;
    flex-flow: row wrap;
}
.press__item {
    flex: 1 0 auto;
    width: 50%;
    margin-bottom: 60px;
    padding: 0 15px;
}
.press__card {
    position: relative;
    display: block;
    height: 100%;
    padding: 20px 30px 60px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 17, 51, 0.1);
    text-decoration: none !important;
    color: #575966 !important;
    transition: all 0.3s ease;
}
.press__card:before {
    position: absolute;
    bottom: -10px;
    right: 15px;
    content: '”';
    font-size: 120px;
    color: #c8cdde;
    font-family: Georgia, "Times New Roman", Times, serif;
    transition: all 0.3s ease;
}
.press__card:hover {
    transform: translateY(-5px);
}
.press__card:hover:before {
    color: #4059ff;
}
.press__text {
    font-style: italic;
}
.press__source {
    position: absolute;
    bottom: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 799px) {
    .press__item {
        width: 100%;
        margin-bottom: 40px;
    }
}

.about {
    position: relative;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #f6f8fa  0%, #ffffff 100%);
}
.about__content {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 30px 0;
}
.about h1 {
    flex: 1 0 auto;
    width: 100%;
    margin: 0 0 60px;
    padding: 0 15px;
    font-weight: 100;
    text-align: center;
}
.about__pic {
    display: block;
    flex: 1 0 auto;
    width: 50%;
    margin: 0 auto 30px;
    padding: 0 15px;
    font-weight: 100;
    text-align: right;
}
.about__pic img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 30px 0 0;
}
.about__body {
    flex: 1 0 auto;
    width: 50%;
    padding: 0 15px;
}
@media (max-width: 800px) {
    .about__content {
        flex-wrap: wrap;
        padding: 0;
    }
    .about h1 {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    .about__pic {
        text-align: center;
    }
    .about__pic img {
        margin: 0;
    }
    .about__body {
        width: 100%;
    }
}

.footer {
    margin: 50px 0 0;
    padding: 20px 15px;
    background: #2d3640;
    color: #748ba6;
    font-size: 14px;
}
.footer a {
    color: inherit;
}
.footer a:hover {
    color: rgba(255, 255, 255, 0.85);
}
.footer__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.footer__copy {
    flex: 1 0 auto;
}
.footer__link {
    flex: 0 1 auto;
}
.footer__link + .footer__link {
    margin-left: 30px;
}
@media (max-width: 500px) {
    .footer__content {
        flex-wrap: wrap;
    }
    .footer__copy {
        order: 1;
        margin-top: 10px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(4, 8, 38, 0.8);
}
.modal.open {
    display: block;
}
.modal__body {
    position: relative;
    background-color: #ffffff;
    margin: 20% auto 0;
    padding: 13px 20px 20px;
    border-top: 7px solid #c8cdde;
    width: 90%;
    max-width: 600px;
}
.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #b8bacc;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.modal__close:hover,
.modal__close:focus {
    color: #4059ff;
    text-decoration: none;
}
.modal__title {
    margin-top: -10px;
}
.modal__content {
    margin: 15px 0;
}

.faq-block {
    margin: 0 0 40px;
    padding: 10px 15px 30px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 17, 51, 0.1);
    overflow: hidden;
}
.faq-block__title,
.faq-block__text {
    position: relative;
    padding-left: 30px;
}
.faq-block__title {
    margin: 0 0 15px;
    color: #575966;
}
.faq-ico {
    position: absolute;
    top: 5px;
    left: 0;
}