
.color-selector-block {}

.color-selector-title {

}

.color-selector-select2 {
    width: 100%;
    visibility: hidden;
}

.color-selector-block .select2-container {
    margin: 0 0 15px;
    width: 100% !important;
}

.color-selector-block .select2-container .select2-selection--single {
    height: auto;
    width: 100%;
    padding: 8px 13px;
    text-align: left;
    font-size: 0;
    border: 1px solid #d0d4d8;
    border-radius: 5px;
    outline: none;
}

.color-selector-block .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.color-selector-block .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    padding: 8px 13px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.color-selector-block .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.color-selector-block .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    padding: 9px 13px 8px;
    border-top: 1px solid #dadada;
    box-shadow: 0 -10px 30px rgba(0,0,0,0.15);
}

.color-selector-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 7px 0 0;
}

.color-selector-block .select2-selection__arrow{
    position: absolute;
    top: 0 !important;
    height: 100% !important;
    font: normal normal normal 14px "ts-icons";
    right: 1px;
    width: 20px;
}

.color-selector-block .select2-selection__arrow:before{
    content: "\e976";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -7px;
}

.color-selector-block .select2-container--open .select2-selection__arrow:before {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.color-selector-block .select2-selection__arrow b{
    display: none;
}

.color-selector-block .select2-selection--single,
.color-selector-block .select2-selection__rendered {
    white-space: normal !important;
    line-height: 20px !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.color-selector-material-selected-block {
}

.color-selector-material-image-block {
    float: left;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 1px 0;
    text-align: center;
    overflow: hidden;
}

.color-selector-material-image-block img {
    max-width: 100%;
    height: 100%;
}

.color-selector-material-text-block {
    margin: 0 0 0 55px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    white-space: normal;
}

.color-selector-material-title {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
}

.color-selector-material-short-description {
    display: inline;
}

.color-selector-material-long-description {
    display: none;
    margin-top: 5px;
}

.color-selector-material-link-long-description {
    display: inline;
    color: #2d8ee0;
    margin-left: 5px;
    cursor: pointer;
}

.color-selector-material-link-short-description {
    display: none;
    color: #2d8ee0;
    margin-left: 5px;
}
.color-selector-material-link-long-description:hover,
.color-selector-material-link-short-description:hover {
    color: #41a8ff;
}

.color-selector-dropdown.select2-dropdown {
    border: 1px solid #d0d4d8;
    border-top: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.select2-container--open .select2-dropdown--above {
    border: 1px solid #d0d4d8;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -10px 30px rgba(0,0,0,0.15);
}

.color-selector-dropdown .select2-results__option {
    padding: 5px 5px 5px 13px;
    clear: both;
}

.color-selector-dropdown.select2-dropdown--below .select2-results__option:last-child {
    border-radius: 0 0 5px 5px;
}

.color-selector-dropdown.select2-dropdown--above .select2-results__option:first-child {
    border-radius: 5px 5px 0 0;
}

.select2-container--default .color-selector-dropdown .select2-results__option--highlighted[aria-selected] {
    background-color: #2d8ee0;
    color: #ffffff;
}

.select2-container--default .color-selector-dropdown .select2-results__option[aria-selected=true] {
    background-color: #EEEEEE;
    color: #333333;
}

.color-selector-dropdown .color-selector-material-title,
.color-selector-dropdown .color-selector-material-short-description {
    display: block;
    margin: 0 0 0 55px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    white-space: normal;
}

.color-selector-dropdown .color-selector-material-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
}

.select2-results__options  {
    height: 500px;
    overflow-y: scroll;
}

.color-selector-printer-color-block {
    display: none;
}

.color-selector-printer-color-block-active {
    display: block;
}

.color-selector-is-one-material-for-kit {

}

.color-selector-printer-color-block {}

.color-selector-printer-color-block-element-active {}

.color-selector-printer-color-view {}

.color-selector-printer-color-title {}

.color-selector-one-material {
    margin: 0 0 15px;
}

.color-selector-message-select-model3dpart {
    margin-bottom: 10px;
}

.color-selector-block .material-item__color {
    margin-left: 0px;
    margin-top: 0px;
}