
#ts-upload-creating-model3d-progress {
    margin-bottom: 10px;
}

.model3d-upload-image-preview {
    width: 100%;
    min-height: 100px;
    background: 50% 50% no-repeat #ffffff;
    background-size: 50%;
    border-radius: 5px;
}

.item-rendering-external-widget .model3d-upload-block {
    max-width: 700px;
    margin: 0 auto;
    min-height: 390px;
}

.item-rendering-external-widget .model3d-upload-block {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
}

.item-rendering-external-widget .upload-start {
    margin: 0;
    min-height: 400px;
    padding: 10px 0;
    background-color: white;
    border: 1px dashed #d0d4d8;
}

.item-rendering-external-widget .upload-start__pic {
    margin-top: 29px;
}

.item-rendering-external-widget .ts-uploader-cancel {
    margin: 0 20px 15px;
}

@media (min-width: 800px) {
    .item-rendering-external-widget .uploader-item {
        width: 25%;
    }
}

.item-rendering-external-widget .model-price {
    margin-bottom: 20px;
}

.item-rendering-external-widget .item-rendering-external-widget__howto {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.item-rendering-external-widget__howto-steps {
    margin: 0 15px 20px;
    overflow: hidden;
}

.item-rendering-external-widget__howto-steps span {
    display: block;
    margin-top: 5px;
    line-height: 20px;
    margin-left: 40px;
}

.item-rendering-external-widget__count {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #e00457;
    color: #fff;
}

.item-rendering-external-widget__count--disabled {
    background-color: #bbbbbb;
}