.star-rating-block,
.star-rating-count {
    display: inline-block;
}
.star-rating-block {
    position: relative;
}
.star-rating-block .star-rating {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-right: 5px;
}
.star-rating-range {
    padding: 0 5px;
    font-size: 14px;
    font-weight: normal;
}
.star-rating-count {
    font-size: 14px;
    color: #909498;
    font-weight: normal;
}