
/* API widget */
.widget-api {
    position: fixed;
    z-index: 500;
    right: 20px;
    bottom: 30px;
    width: 320px;
    padding: 10px 0 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.15);
    overflow: hidden;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}
.widget-api__min {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 10px;
    font-size: 20px;
    line-height: 10px;
    font-weight: bold;
    color: #707478;
    cursor: pointer;
    text-decoration: none !important;
}
.widget-api__min:hover,
.widget-api__min:focus,
.widget-api__min:active {
    color: #202428;
}
.widget-api__title {
    margin-bottom: 5px;
    padding: 0 15px;
    font-weight: bold;
    color: #505458;
    min-width: 290px;
}
.widget-api__wrap {
    max-height: 235px;
    overflow-y: auto;
}
.widget-api__model {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #e0e4e8;
}
.widget-api__model:last-child {
    border: none;
}
.widget-api__model-pic,
.widget-api__model-title,
.widget-api__model-btn {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
}
.widget-api__model-pic {
    width: 50px;
    overflow: hidden;
}
.widget-api__model-pic > img {
    width: 100%;
    max-height: 38px;
}
.widget-api__model-title {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    max-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    overflow: hidden;
}
.widget-api__model-btn {
    text-align: right;
}
.widget-api__model-btn > .btn {
    padding: 4px 14px;
}
.widget-api__delete-btn {
    padding: 10px;
    margin-left: 5px;
    color: #808488;
}
.widget-api__upload-btn {
    float: right;
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
}
.widget-api__upload-btn > .tsi {
    margin-right: 5px;
}
.widget-api__upload-btn:hover {
    text-decoration: none;
}
.widget-api__show-more {
    width: 100%;
    padding: 10px 10px 10px 15px;
    overflow: hidden;
}
.widget-api__show-more-btn {}
.widget-api__show-more-btn:hover {
    text-decoration: none;
}

.widget-api__expand {
    position: absolute;
    z-index: -1;
    opacity: 0;
    bottom: 0;
    right: 0;

    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.widget-api--minified {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.widget-api--minified .widget-api__expand {
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    background: #ffffff;
    color: #e00457;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    text-decoration: none !important;
}

.widget-api--minified .widget-api__expand:hover {
    color: #f92b57;
}

.widget-api--minified .widget-api__model,
.widget-api--minified .widget-api__title,
.widget-api--minified .widget-api__min {
    margin-bottom: -50px;
    opacity: 0;
}

@media (max-width: 767px) {
    .widget-api {
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
    .widget-api__model {
        min-width: 290px;
        width: 100%;
    }
    .widget-api--minified {
        right: 20px;
        bottom: 60px;
        width: 50px;
        border-radius: 50%;
    }
}
/* // API widget */