.braintree-form__field-error {
    font-weight: normal;
}

div[data-braintree-id=american-express-card-icon].braintree-sheet__card-icon {
    /*display: none;*/
}

div[data-braintree-id=discover-card-icon].braintree-sheet__card-icon {
    /*display: none;*/
}
