
    <br />
  <table cellpadding="0" cellspacing="0" width="100%" align="left" border="0" style="min-width:100%; border-collapse:collapse; height: 200px;">
      <tbody>
          <tr>
              <td valign="top" style="text-align:left">
                  <a href="https://www.treatstock.com/my/company/certification?utm_source=email&utm_medium=image&utm_campaign=certify" target="_blank" title="Treatstock" class="" style="">
                    <img src="https://static.treatstock.com/static/images/emails/certify-bg.jpg" alt="Certify your printer" width="600" align="left" style="width:600px; height: 200px; padding-bottom:0; display:block!important; vertical-align:bottom; border:0; height:auto; outline:none; text-decoration:none">
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
  <br />
  <table cellpadding="0" cellspacing="0" width="100%" align="left" border="0" style="max-width:100%; min-width:100%; border-collapse:collapse">
    <tbody>
      <tr>
        <td valign="top" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px; word-break:break-word; color:#444749; font-family:Helvetica; font-size:16px; line-height:1%; text-align:left">
          <div style="line-height:30px; margin: 20px 0 20px; padding:0; color:#444749; font-family:Helvetica; font-size:18px; font-weight: bold; text-align:center;">
            You are now part of our global 3D printing network on Treatstock.
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <table cellpadding="0" cellspacing="0" width="100%" align="left" border="0" style="max-width:100%; min-width:100%; border-collapse:collapse">
    <tbody>
      <tr>
        <td valign="top" style="padding-top:10px; padding-right:20px; padding-bottom:0; padding-left:20px; word-break:break-word; color:#444749; font-family:Helvetica; font-size:14px; line-height:1%; text-align:left">
          <p style="line-height:150%; margin: 10px 0 0; padding:0; color:#444749; font-family:Helvetica; font-size:14px; font-weight: bold; text-align: center;">
            Make sure you certify your printer to take full advantage of these benefits:
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <table cellpadding="0" cellspacing="0" width="100%" align="left" border="0" style="max-width:100%; min-width:100%; border-collapse:collapse;background: #ffffff; border-radius: 5px;">
    <tbody>
      <tr>
        <td valign="top" style="padding-top:0; padding-right:60px; padding-bottom:10px; padding-left:60px; word-break:break-word; color:#444749; font-family:Helvetica; font-size:14px; line-height:1%; text-align:left">
          <ul style="line-height:150%; margin: 10px 0; padding:0 0 0 15px; color:#444749; font-family:Helvetica; font-size:14px; font-weight: bold;">
            <li style="margin: 0 0 10px;">
              Only certified printers can receive orders from our catalog of 3D models
            </li>
            <li style="margin: 0 0 10px;">
              Only certified printers can receive orders from several key API partners
            </li>
            <li style="margin: 0 0 10px;">
              Customers trust and therefore send more print requests to certified printers
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
    <br />
  <table cellpadding="0" cellspacing="0" width="100%" align="left" border="0" style="max-width:100%; min-width:100%; border-collapse:collapse">
    <tbody>
      <tr>
        <td valign="top" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px; word-break:break-word; color:#444749; font-family:Helvetica; font-size:14px; line-height:1%; text-align:center">
          <p style="line-height:150%; margin: 10px 0; padding:0; color:#444749; text-align: center;">
            <a href="https://www.treatstock.com/my/company/certification?utm_source=email&utm_medium=image&utm_campaign=certify" target="_blank">
                <span  style="display: inline-block; padding:10px 20px; font-family:Helvetica; font-size:15px; font-weight:bold; color:#ffffff; line-height:20px; text-align: center; text-decoration:none; border-radius: 5px; width:auto; background-color: #e00457;">
                      Get Certified
                </span>
            </a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

