/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif; /* 1 */
    font-size: 16px;
    line-height: 20px; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
    color: #3d424c;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

figcaption,
figure,
main { /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}

button,
select { /* 1 */
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.hide {
    display: none !important;
}

/* Typo */
h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin: 20px 0;
}

h1 sup {
    font-size: 60%;
    top: -0.7em;
}

h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin: 15px 0;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
}

h1 + h3 {
    margin-top: -15px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}

a {
    color: #00aaff;
}

a:hover {
    color: #0099e5;
}

.text-muted {
    color: #708090;
}

.app-subtitle {
    margin-bottom: 30px;
    line-height: 25px;
}

/* TS Apps styles*/
html, body, .page-wrap {
    min-height: 100%;
}

body {
    height: 100vh;
    background: #f8fafc; /* Old browsers */
    background: -moz-linear-gradient(left, #f8fafc 0%, #dce6f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f8fafc 0%, #dce6f1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f8fafc 0%, #dce6f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8fafc', endColorstr='#dce6f1', GradientType=1); /* IE6-9 */
}

.page-wrap {
    position: relative;
    padding-left: 70px;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 100%;
    background-color: #2d3040;
    z-index: 100;
}

.mainblock {
    width: 100%;
    padding: 0 20px 0 40px;
}

.topbar {
    margin: 0 -20px 25px -40px;
    padding: 20px 20px 20px 40px;
    background: #ffffff;
}
.topbar > h1 {
    margin: 0;
}

.about-page {
    max-width: 960px;
}

.sidemenu {
    margin: 0;
    padding: 0 0 70px;
    list-style: none;
}

.sidemenu__item {
    display: block;
    width: 70px;
    height: 70px;
    box-shadow: inset 0 1px 0 0 #242633;
}

.sidemenu__item:first-of-type {
    box-shadow: none;
}

.sidemenu__item--about {
    position: absolute;
    bottom: 0;
}

.sidemenu__item > a {
    position: relative;
    display: block;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidemenu__item > a > img {
    display: block;
}

.sidemenu__item > a:before {
    content: 'β';
    position: absolute;
    display: block;
    top: 7px;
    left: 58px;
    font-size: 14px;
    color: #fff;
}
.sidemenu__item.active > a:before {
    color: #2d3040;
}
.sidemenu__item:first-of-type > a:before,
.sidemenu__item--about > a:before {
    display: none;
}

.sidemenu__text {
    display: none;
}

.sidemenu__item.active a,
.sidemenu__item.active a:hover {
    background-color: #f8fafc;
}

.sidemenu__item a:hover {
    background-color: #1b1c26;
}

.panel {
    margin: 0 0 30px;
    padding: 20px 20px 10px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.panel--inline {
    display: inline-block;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.label-hint {
    color: #708090;
    font-size: 13px;
}

.input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    background-color: #ffffff;
    font-size: 14px;
    color: #3d424c;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #b8c2cc;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

select.input {
    max-width: 250px;
}
@media (max-width: 767px) {
    select.input {
        font-size: 16px;
    }
}

.input[type="file"] {
    padding: 3px;
}

.form-group--inline {
    display: inline-block;
}

.form-group--inline label {
    margin-right: 10px;
}

.form-group--inline .input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    height: 40px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: none;
    background: #ffffff;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.btn--block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn--blue {
    background: #00aaff;
}

.btn--blue:hover {
    background: #0099e5;
    color: #ffffff;
}

.btn--red {
    background: #e00457;
}

.btn--red:hover {
    background: #cc004e;
    color: #ffffff;
}

.search {
    position: relative;
    float: right;
}

.search .input {
    width: 180px;
    padding-right: 40px;
}

.search .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background: url("../images/ico-search.png") no-repeat 50% 50% transparent;
    opacity: 0.7
}

.search .btn:hover {
    opacity: 1;
}

/* Cad models list*/
.cad-model-list {
    margin: 0 -15px;
    font-size: 0;
}

.cad-model-list__category {
    margin: 20px 15px;
    font-size: 20px;
}

.cad-model-list__item {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 30px;
    text-decoration: none;
    color: #3d424c;
}

.cad-model__card {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
}

.cad-model__card:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.cad-model__card-pic {
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.cad-model__card-title {
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumbs {
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
    color: #3d424c;
}

.breadcrumbs a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
    color: #00aaff;
}

.breadcrumbs__arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url("../images/ico-arrow.png") no-repeat 50% 50% transparent;
}

.inner-page {
    display: -webkit-flex;
    display: flex;
}

.model-col,
.data-col {
    flex: 0 0 auto;
}

.model-col {
    margin-right: 30px;
}

.model-col:empty {
    margin-left: 0;
}

.data-col {
    width: 260px;
}

.model-view {
    display: block;
    width: 800px;
    height: 600px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.model-view[style*="url"] {
    cursor: default;
}

.model-view > canvas {
    width: 800px;
    height: 600px;
    border-radius: 5px;
}

.model-result {
    margin-bottom: 30px;
}

.model-result a {
    margin-right: 5px;
}

.model-result > .btn {
    margin-left: 15px;
}

.presets-panel label {
    font-weight: bold;
}

.presets-panel select {
    min-width: 200px
}

.param-generate-btn {
    margin: 30px 0 10px;
}

@media (max-width: 1240px) {
    .model-view,
    .model-view > canvas {
        width: 600px !important;
        height: 450px !important;
    }
}

@media (max-width: 1020px) {
    .inner-page {
        flex-flow: row wrap;
    }

    .model-col {
        margin-right: 0;
    }

    .model-view,
    .model-view > canvas {
        width: 640px !important;
        height: 480px !important;
    }

    .data-col {
        width: 100%;
        font-size: 0;
    }

    .data-col .panel {
        padding-left: 10px;
        padding-right: 10px;
    }

    .data-col h4 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .data-col .form-group {
        display: inline-block;
        padding: 0 10px 10px;
        width: 33.3333%;
        vertical-align: bottom;
    }

    .param-generate-btn {
        width: calc(100% - 20px);
        margin: 0 10px 10px;
    }
}

@media (max-width: 767px) {
    .data-col .form-group {
        width: 100%;
    }
    .data-col .form-group input {
        max-width: 300px;
    }
    .model-view,
    .model-view > canvas {
        width: 100% !important;
        height: auto !important;
    }
}

.holdr0 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 15, 0.75);
    display: none;
}

.holdr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 100px;
    margin-left: -160px;
    margin-top: -50px;
    padding: 40px 40px 40px 110px;
    background-color: #ffffff;
    color: #3d424c;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: 20px 18px;
    display: none;
}

.apps-grid {
    margin: 30px -15px;
    font-size: 0;
}
.apps-grid__item {
    display: inline-block;
    width: 50%;
    margin: 0 0 40px;
    padding: 0 15px;
    vertical-align: top;
    text-decoration: none;
    color: #3d424c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    will-change: transform;
}
.apps-grid__item:hover,
.apps-grid__item:focus {
    text-decoration: none;
}
.apps-grid__pic {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 21px;
    box-shadow: 0 0 0 rgba(0,0,0,0.15);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    will-change: transform, box-shadow;
}
.apps-grid__title {
    margin: 0 0 10px 110px;
    font-size: 20px;
}
.apps-grid__text {
    margin: 0 0 10px 110px;
    font-size: 14px;
    color: #708090;
}

.apps-grid__item:hover .apps-grid__pic {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
@media (max-width: 991px) {
    .apps-grid__item {
        width: 100%;
    }
}

.mobile-header,
.mobile-header__close {
    display: none;
}

/* Page mobile */
@media (max-width: 767px) {
    .page-wrap {
        padding: 70px 0 0;
    }
    .mobile-header {
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        background: #2d3040;
        color: #ffffff;
        overflow: hidden;
        z-index: 10;
    }
    .mobile-header__btn {
        display: block;
        float: left;
        width: 50px;
        height: 70px;
        padding: 19px 0;
        cursor: pointer;
    }
    .mobile-header__title {
        margin: 0 50px;
        font-size: 18px;
        line-height: 70px;
        text-align: center;
    }
    .sidebar {
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .sidemenu {
        padding: 0;
    }
    .mobile-header__close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 70px;
        padding: 27px 0;
        z-index: 100;
        cursor: pointer;
    }
    .sidemenu__item {
        width: 100%;
    }
    .sidemenu__item > a {
        overflow: hidden;
    }
    .sidemenu__item > a > img {
        float: left;
    }
    .sidemenu__text {
        display: block;
        float: left;
        margin-left: 30px;
        font-size: 18px;
        padding: 10px 0;
        color: #fff;
    }
    .sidemenu__item.active a .sidemenu__text,
    .sidemenu__item.active a:hover .sidemenu__text {
        color: #2d3040;
    }
    .is-open-sidebar {
        overflow: hidden;
    }
    .is-open-sidebar .sidebar {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .mainblock {
        padding: 0 15px;
    }
    .search {
        float: none;
    }
    .model-col, .data-col {
        width: 100%;
    }
    .model-result > .btn {
        display: block;
        margin: 20px 0 0;
    }
    .cad-model-list__item {
        width: calc(50% - 30px);
    }
    .cad-model__card-pic {
        width: 100%;
        height: auto;
    }
}