
.thing-print-tagline {
    margin: 15px 0px 15px 0px;
}



item-rendering {}
@media (max-width: 767px) {
    .item-rendering {
        margin: 50px 0;
    }
}
.item-rendering__message {
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background: #ffffff;
}

.item-rendering__line {
    width: 0;
    margin: 15px 0 0;
    padding: 5px;
    border-radius: 10px;
    background: #e00457;
}

@keyframes wave_animation {
    0%{transform:translateY(0)}
    20%{transform:translateY(-3px)}
    35%{transform:translateY(-18px)}
    45%{transform:translateY(-20px)}
    55%{transform:translateY(-18px)}
    80%{transform:translateY(-3px)}
    100%{transform:translateY(0)}
}
.wave-anim {
    animation-name:wave_animation;
    animation-duration:4500ms;
    transform-origin:70% 70%;
    animation-iteration-count:infinite;
    animation-timing-function:linear
}

@keyframes line_animation {
    from{width:0}
    to{width:100%}
}

.line-anim {
    animation-name:line_animation;
    animation-duration:17000ms;
    transform-origin:70% 70%;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
