body {
  font-family: 'Prompt', sans-serif;
}

.cover-container {
  max-width: 42em;
}

.btn-lime {
  color: #000;
  background-color: #17ff29;
  border-color: #17ff29;
}
.btn-primary:hover {
  color: #000;
  background-color: #00c710;
  border-color: #00c710;
}

.head-logo {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  color: red;
}
.mp-title {
  font-size: 3.5rem;
  font-weight: bold;
}
.mp-lead {
  font-size: 1.5rem;
}