
.files-list-widget-delete-button {
    color: #f00000;
}

.files-list-widget-delete-button:hover {
    color: #f00000;
}

.files-list-wiget-thrumb-element {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

.files-list-wiget-thrumb-element td{
    padding: 2px;
}