<div class="tab-pane" >
    <p class="thing-print-tagline">Enter the shipping address where you want the manufacturer to send your order.
    </p>
    <div class="thing-print-address">
        <button type="button" class="btn btn-primary" ng-show="!address" ng-click="chooseAddress()" title="Select address">Add Shipping Address</button>
        <div class="thing-print-address__btns" ng-show="address">
            <div class="text-left">
                <b>{{address.name}}</b> <br>
                {{address.organisation}}<br>
                {{address.street_address}}<br>
                {{address.city}} {{address.admin_area}} {{address.postal_code}}, {{address.country}} <br />
            </div>
            <br />
            <button type="button" class="btn btn-primary btn-ghost thing-print-address__change-btn"
                    ng-click="chooseAddress()"  title="Select address">Change address</button>
        </div>
    </div>
    <p class="thing-print-tagline" style="margin-top:0px;"><span style="color:red">*</span>
        Refresh webpage if clicking on the Add Shipping Address tab doesn't open a pop-up window.</p>



    <div class="thing-print-bottom">

        <a ng-click="nextStep()" class="btn btn-danger">
            Next
            <span class="tsi tsi-right"></span>
        </a>
    </div>
</div>