<div ng-if="!canPay()" class="tab-pane" >
    <div class="thing-print-pay">
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-danger text-center" style="margin: 20px 0;" role="alert">{{cantPayErrorMessage}}</div>
            </div>
        </div>
    </div>
</div>
<div ng-if="canPay()" class="tab-pane" >
    <div class="thing-print-pay">
        <div class="row">
            <div class="col-sm-5">
                <br />
                <div class="thing-print-preview thing-print-pay__address">
                    <div class="thing-print-preview__title"><strong>Preview</strong></div>
                    <!-- Slider main container -->
                    <div class="thing-print-preview__slider">
                        <div class="thing-print-preview__slide" ng-show="model3dParts|numkeys" ng-repeat="model3dPart in model3dParts">
                            <img class="thing-print-preview__pic" ng-class="{'img-opacity30' : model3dPart.qty<1}" title="{{model3dPart.title}}" ng-src="{{model3dPart.thumb}}" alt="">
                            <div class="thing-print-preview__qty" title="Quantity: {{model3dPart.qty}}">&times;{{model3dPart.qty}}</div>
                        </div>
                    </div>

                </div>
                <div class="thing-print-pay__address">
                    <h3>Shipping Address</h3>
                    <b>{{address.name}}</b> <br>
                    {{address.street_address}}<br>
                    {{address.city}} {{address.admin_area}} {{address.postal_code}}, {{address.country}} <br /> <hr />

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-3 control-label p-r0">Email <span style="color:#e00f57">*</span></label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" ng-model="formData.email" id="inputEmail" placeholder="Email">
                            </div>
                            <div ng-show="address.country=='CN'">
                                <label for="inputPhone" class="col-md-3 control-label p-r0">Phone</label>
                                <div class="col-md-9">
                                    <input type="phone" class="form-control" ng-model="formData.phone" id="inputPhone" placeholder="phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="thing-print-pay__address-help">
                        Your email address will not be shared with a third party,
                        nor will it be sold or used for purposes other than those relating to your order made through the application.
                    </p>
                </div>
            </div>

            <div class="col-sm-5 col-sm-offset-2">
                <div class="thing-print-pay__order">
                    <h3>Order Details</h3>

                    <div class="delivery-order">
                        <div class="delivery-order__print-price" ng-repeat="priceRow in pricer.getPricesWithTitle()">
                            <div class="delivery-order__print-price__price print_price price__badge">
                                {{priceRow.price}}
                            </div>
                            <h5 class="delivery-order__print-price__title">{{priceRow.title}}</h5>
                        </div>
                    </div>
                    <hr />
                    <div class="delivery-order">
                        <div class="delivery-order__print-price">
                            <div class="delivery-order__print-price__price print_price price__badge">
                                ${{pricer.getTotal()}}
                            </div>
                            <h5 class="delivery-order__print-price__title"><strong>Total</strong></h5>
                        </div>
                    </div>
                </div>
                <p style="margin-top: 20px;text-align:justify;" class="text-muted small">
                    I, as a customer, acknowledge that Treatstock, nor the manufacturer, are responsible for the size, flaws of the design itself,
                    the applicability of the product for any purpose, or the use of goods ordered.
                    If you are unsure about any of the previously stated conditions, please contact the designer before placing your order.</p>
                <p>
                    Comment:
                    <textarea ng-model="formData.comment" style="width:100%;" placeholder="Leave a comment if you have any requests, instructions, or additional information for the manufacturer" rows="3" maxlength="600"></textarea>
                </p>
            </div>

        </div>
    </div>

    <div class="thing-print-bottom">
        <a href="javascript:;" ng-click="makeOrder()" class="btn btn-danger btn-lg thing-print-pay__pay-btn">Proceed to Checkout</a>
    </div>
</div>