<div class="tab-pane">
    <p class="thing-print-tagline">Choose a color of PLA (rigid plastic) and select a manufacturer.
        For a greater choice of materials and colors, visit <a href="{{modelLink}}" target="_blank">Treatstock.com</a>
    </p>

    <div ng-if="!formData.userAddressId">
        <div class="thing-print-tagline">
            <div class="alert alert-danger text-center" role="alert">Please specify
                <a class="alert-link" ui-sref="form.address"> Shipping Address</a></div>
        </div>
    </div>
    <div class="clearfix">
        <div class="item-failed" ng-show="failedLoadingPrinters">
            Loading failed. Please refresh the page or try placing your order <a href="{{modelLink}}" target="_blank">here</a>.
        </div>
        <div class="item-rendering" ng-show="(!failedLoadingPrinters) && ((!filesCompleted) || (loadingPrinters && colors.length===0))">
            <div class="item-rendering__message wave-anim">
                Searching for 3D print services near you...
                <div class="item-rendering_comment" id="loadComment"></div>
                <div class="printers_list_load item-rendering__line line-anim"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thing-print-preview">
                <!--<div class="thing-print-preview__title"><strong>Preview</strong></div>-->
                <!-- Slider main container -->
                <div class="thing-print-preview__slider">
                    <div class="thing-print-preview__slide" ng-show="model3dParts|numkeys" ng-repeat="model3dPart in model3dParts">
                        <img class="thing-print-preview__pic" ng-class="{'img-opacity30' : model3dPart.qty<1}" title="{{model3dPart.title}}" ng-src="{{model3dPart.thumb}}"
                             alt="">
                        <div class="thing-print-preview__qty" title="Quantity: {{model3dPart.qty}}">&times;{{model3dPart.qty}}</div>
                    </div>
                </div>

            </div>
            <div class="thing-print-color" ng-if="colors.length>0">
                <div class="thing-print-color__material">
                    <strong>Material:</strong> {{material.title}} ({{material.info}})
                </div>

                <div class="color-switcher__material-list">
                    <input type="checkbox" class="showhideColorSwitcher" id="showhideColorSwitcher">
                    <label class="color-switcher__mobile" for="showhideColorSwitcher">
                        <div title="Biodegradable and flexible plastic" class="material-item">
                            <div class="material-item__color" style="background-color: rgb({{currentColor.rgb}})"></div>
                            <div class="material-item__label">{{currentColor.code}}</div>
                        </div>
                        <span class="tsi tsi-down"></span>
                    </label>

                    <div class="color-switcher__color-list">
                        <div class="color-selector-printer-color-block-element material-item" ng-class="{'material-item--active' : isCurrentColor(color)}"
                             ng-repeat="color in colors" ng-click="chooseColor(color)">
                            <div class="color-selector-printer-color-view material-item__color" ng-style="{'background-color': 'rgb(' + color.rgb +')'}"></div>
                            <div class="color-selector-printer-color-title material-item__label">{{color.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="item-rendering" ng-show="loadingPrinters && colors.length>0">
                <div class="item-rendering__message wave-anim">
                    <p style="font-size: 16px;">Searching for 3D print services near you...</p>
                    <div class="text-align:center;margin-top:50px;">
                        <br/>
                        <img src="/static/images/preloader.gif"/>
                    </div>
                </div>
            </div>
            <div class="thing-print-printers" ng-show="!loadingPrinters">
                <div class="model-printers-available" ng-repeat="printer in printers"
                     ng-class="{'model-printers-available--choosen' : isSelectedPrinted(printer)}" ng-click="selectPrinter(printer)">
                    <div class="model-printers-available__wrap">
                        <div class="model-printers-available__info">
                            <div class="model-printers-available__info__img"><a
                                    href="{{printer.link}}" target="_blank"><img
                                    ng-src="{{printer.logo}}"
                                    width="30" height="30" alt="" align="left"></a></div>
                            <div class="model-printers-available__info__ps">
                                <div class="model-printers-available__info__ps-title"><a
                                        href="{{printer.link}}" target="_blank"><span ng-bind-html="printer.title | html"></span></a>
                                </div>
                                <div class="model-printers-available__info__ps-rating" ng-show="printer.reviewsCount>0">
                                    <div>
                                        <span style="color:orange;letter-spacing: 1px;">
                                            <span ng-repeat="i in getNumber(printer.rating) track by $index" class="tsi tsi-rating-star"> </span><span
                                                style="color:#ccc;letter-spacing: 1px;" ng-repeat="i in getNumber(5 - printer.rating) track by $index"
                                                class="tsi tsi-rating-star"> </span>
                                        </span>
                                        <span class="star-rating-count">(<span itemprop="reviewCount">{{printer.reviewsCount}}</span>
                                            review<span ng-show="printer.reviewsCount>1">s</span>
                                            )</span>
                                    </div>
                                </div>
                                <div class="model-printers-available__info__ps-printer">
                                    3D Printer:
                                    {{printer.printerTitle}}
                                    <div class="cert-label {{printer.certification.label}}" data-toggle="tooltip" data-placement="bottom"
                                         title=" {{printer.certification.title}}" ng-show="printer.certification">
                                        {{printer.certification.labelTxt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="model-printers-available__delivery">
                            <div class="model-printers-available__delivery-title">
                                {{printer.address}}
                            </div>
                            <div ng-if="printer.deliveryPrice" class="model-printers-available__price-delivery">
                                Delivery <span class="tsi tsi-truck" title="Delivery Price"></span> + {{printer.deliveryPrice}}
                            </div>

                        </div>
                    </div>
                    <div class="model-printers-available__price-btn">
                        <div class="model-printers-available__price">
                            <span class="ts-print-price"> {{printer.price}}</span>
                        </div>
                        <div class="model-printers-available__print-btn">
                            <button class="btn btn-danger btn-block t-model-printers__print-btn print-by-printer-button" title="Get printed"
                                    ng-click="selectPrinter(printer)">Buy
                            </button>
                        </div>
                    </div>
                </div>

                <nav ng-if="numPages>1">
                    <ul class="pagination">
                        <li ng-repeat="n in getNumber(numPages) track by $index"
                            ng-class="{'active' : currentPage===$index}">
                            <a href="javascript:;" ng-click="selectPage($index)">{{$index + 1}}</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>


    <div class="thing-print-bottom">
        <a ng-click="nextStep()" class="btn btn-danger">
            Next
            <span class="tsi tsi-right"></span>
        </a>
    </div>
</div>