
<div class="col-md-12" ng-if="orderComplete">
    <h1 class="text-center m-t30">Checkout Complete</h1>
    <h4 class="text-center">
        <p><span style="font-size: 96px; color:#82c015;" class="tsi tsi-checkmark-c"></span></p>
        <p>
            <strong>
                Your Order ID on Treatstock: {{orderId}}                    </strong>
        </p>
            <p>Your Order ID on Thingiverse: {{formData.thingiverseOrderId}}</p>
        <br />
        <p>
            <strong>
                Total Order Amount For Printing:
                ${{pricer.getTotal()}}                  </strong>
        </p>
    </h4>
    <div class="row m-b30">
        <div class="text-center">
            <p>Your order has been successfully submitted to print service.</p>
        </div>
    </div>
</div>