
<div class="col-md-12">
    <h1 class="text-center m-t30">Checkout In Process...</h1>

    <br />
    <br />
    <div class="row m-b30">
        <div class="text-center">
            <p>{{waitMessage}}</p>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>