UUU666
<div class="tab-pane">
    <div class="row">
        <div class="col-sm-9">
            <p class="thing-print-tagline">Set the required quantities for each file and if their sizes appear too small, change the unit of measurement to inches. Click on 3D Viewer for a 360° preview of your files.</p>
        </div>
        <div class="col-sm-3">
            <div class="thing-print-units">
                Scale to:
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-xs btn-info" ng-class="{'active' : fileUnits=='mm'}" title="Millimeters" ng-click="changeFileUnits('mm')">MM</button>
                    <button class="btn btn-xs btn-info" ng-class="{'active' : fileUnits=='in'}" title="Inches" ng-click="changeFileUnits('in')">IN</button>
                </div>
            </div>
        </div>
    </div>

    <div class="thing-print-models__row" ng-show="model3dParts|numkeys" ng-repeat="model3dPart in model3dParts">
        <div class="thing-print-models__pic">
            <a ng-href="{{model3dPart.thumb}}" rel="popover" data-img="{{model3dPart.thumb}}" target="_blank"><img ng-src="{{model3dPart.thumb}}"
                                                                                                                   ng-class="{'img-opacity30' : model3dPart.qty<1}"
                                                                                                                   style="max-width:90px;max-height:90px;"></a>
            <div class="thing-print-models__pic-qty" title="Quantity: {{model3dPart.qty}}">×{{model3dPart.qty}}</div>
        </div>
        <div class="thing-print-models__data">
            <div class="thing-print-models__info">
                <h4 class="thing-print-models__title">{{model3dPart.title}}</h4>
                <div class="thing-print-models__error" ng-if="model3dPart.parser.isError">
                    Invalid file format or loading failed.
                </div>
                <div class="thing-print-models__size" ng-if="!model3dPart.parser.isError">
                    Size : {{model3dPart.size}}
                    <br/>
                    Weight : {{model3dPart.weight}} gr.
                </div>
            </div>
            <div class="thing-print-models__qty">
                <label class="control-label">Quantity</label>
                <input type="number" ng-model="model3dPart.qty" ng-change="updateFilePartQty(model3dPart)"
                       class="form-control input-sm" min="0" max="100" ng-disabled="model3dPart.parser.isError">
            </div>
            <a ng-href="#" ng-click="deleteFile(model3dPart)" class="thing-print-models__del" title="Delete">&times;</a>
        </div>
    </div>
    <p class="thing-print-tagline" ng-show="filesError">
        {{filesError}}
    </p>
    <div class="item-rendering" ng-show="(((model3dParts | numkeys) < 1) && (filesError===false))">
        <div class="item-rendering__message wave-anim">
            <?php echo _t('site.model3d', 'Loading...'); ?>
            <div class="item-rendering__line line-anim "></div>
        </div>
    </div>


    <div class="thing-print-bottom">


        <a ng-click="nextStep()" class="btn btn-danger">
            Next
            <span class="tsi tsi-right"></span>
        </a>
    </div>
</div>