.so-tabs {
    padding: 0 15px;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    background: #f7faff;
    margin: 0 -15px;
}

.so-tabs .nav-tabs {
    border-bottom: none;

}

.so-tabs .nav-tabs li{
    margin-bottom: -1px;
    padding-bottom: -1px;
}

.so-tabs .nav-tabs li a{

    border-radius: 0;
}

.so-tabs .nav-tabs li.active a{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}

.so .tab-content .tab-pane {
    padding: 15px 0;
}

.so #main {
    padding: 0;
}

.so .so-control {
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #d2d6de;
    margin: 0 -15px 15px;
}