html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*
.modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal-content {
    padding: 10px;
}
*/

.form-message {
    color: #a94442;
    padding-bottom: 5px;
}

.img-view {
    max-width: 200px;
    max-height: 200px;
}

.preview_model3d img{
    max-width: 100px;
}

.jsonEditorField .form-group {
    margin-left: -5px;
    margin-right: -5px;
}

.small-text {
    font-size: 10px;
}

.jsonHighlight { outline: 1px solid #ccc; padding: 5px; margin: 5px; }

.jsonHighlight .string { color: green; }

.jsonHighlight .number { color: darkorange; }

.jsonHighlight .boolean { color: blue; }

.jsonHighlight .null { color: magenta; }

.jsonHighlight .key { color: red; }

#systemLangPages .modal-dialog {
    width: 90%;
    height: 90%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.headerBlock {
    padding: 10px 15px;
    margin: 0 -10px;
    background: #8aa4af;
}

.underlineRow {
    border-bottom: 1px solid #f4f4f4;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 0;
}

.trBackgroundColorOdd {
    background-color: #f9f9f9;
}

.headerBold {
    font-weight: bold;
}

.changePrinterHighlighted {
    background-color: lightyellow;
}

.changePrinterSafe {
    background-color: #e6ffe6;
}

.changePrinterTBCError {
    color: #c55;
    font-style: italic;
}
