@charset "UTF-8";

@font-face {
  font-family: "ts-icons";
  src:  url('/fonts/ts-icons.eot?5u760k');
  src:  url('/fonts/ts-icons.eot?5u760k#iefix') format('embedded-opentype'),
  url('/fonts/ts-icons.ttf?5u760k') format('truetype'),
  url('/fonts/ts-icons.woff?5u760k') format('woff');
  font-weight: normal;
  font-style: normal;


}

.tsi {
  display: inline-block;
  font: normal normal normal 15px/1 "ts-icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tsi-spin {
  -webkit-animation: tsi-spin 2s infinite linear;
  animation: tsi-spin 2s infinite linear;
}
.tsi-pulse {
  -webkit-animation: tsi-spin 1s infinite steps(8);
  animation: tsi-spin 1s infinite steps(8);
}
@-webkit-keyframes tsi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes tsi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.tsi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tsi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tsi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.tsi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.tsi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .tsi-rotate-90,
:root .tsi-rotate-180,
:root .tsi-rotate-270,
:root .tsi-flip-horizontal,
:root .tsi-flip-vertical {
  filter: none;
}

[data-icon]:before {
  font-family: "ts-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tsi-"]:before,
[class*=" tsi-"]:before {  
  speak: none;
  position: relative;
  top: 1px;
}

.tsi-aim:before {
  content: "\e900";
}
.tsi-aircraft:before {
  content: "\e901";
}
.tsi-alarm-clock:before {
  content: "\e902";
}
.tsi-album:before {
  content: "\e903";
}
.tsi-ambulance-car:before {
  content: "\e904";
}
.tsi-anchor:before {
  content: "\e905";
}
.tsi-archive:before {
  content: "\e906";
}
.tsi-archive-box:before {
  content: "\e907";
}
.tsi-archive-data:before {
  content: "\e908";
}
.tsi-archive-in:before {
  content: "\e909";
}
.tsi-archive-out:before {
  content: "\e90a";
}
.tsi-arrow-back-l:before {
  content: "\e90b";
}
.tsi-arrow-diagonal:before {
  content: "\e90c";
}
.tsi-arrow-down:before {
  content: "\e90d";
}
.tsi-arrow-down-l:before {
  content: "\e90e";
}
.tsi-arrow-forward-l:before {
  content: "\e90f";
}
.tsi-arrow-left:before {
  content: "\e910";
}
.tsi-arrow-left-l:before {
  content: "\e911";
}
.tsi-arrow-left-right:before {
  content: "\e912";
}
.tsi-arrow-left-right-l:before {
  content: "\e913";
}
.tsi-arrow-right:before {
  content: "\e914";
}
.tsi-arrow-right-l:before {
  content: "\e915";
}
.tsi-arrows-left-right:before {
  content: "\e916";
}
.tsi-arrows-right-left-l:before {
  content: "\e917";
}
.tsi-arrows-up-down:before {
  content: "\e918";
}
.tsi-arrows-up-down-l:before {
  content: "\e919";
}
.tsi-arrow-up:before {
  content: "\e91a";
}
.tsi-arrow-up-down:before {
  content: "\e91b";
}
.tsi-arrow-up-down-l:before {
  content: "\e91c";
}
.tsi-arrow-up-l:before {
  content: "\e91d";
}
.tsi-at:before {
  content: "\e91e";
}
.tsi-atom:before {
  content: "\e91f";
}
.tsi-automobile:before {
  content: "\e920";
}
.tsi-awareness-ribbon:before {
  content: "\e921";
}
.tsi-baby-bottle:before {
  content: "\e922";
}
.tsi-backspace:before {
  content: "\e923";
}
.tsi-bag:before {
  content: "\e924";
}
.tsi-ban-c:before {
  content: "\e925";
}
.tsi-bank:before {
  content: "\e926";
}
.tsi-basket:before {
  content: "\e927";
}
.tsi-battery:before {
  content: "\e928";
}
.tsi-battery-charge:before {
  content: "\e929";
}
.tsi-bed:before {
  content: "\e92a";
}
.tsi-bicycle:before {
  content: "\e92b";
}
.tsi-bin:before {
  content: "\e92c";
}
.tsi-blank:before {
  content: "\e92d";
}
.tsi-blocks-1:before {
  content: "\e92e";
}
.tsi-blocks-2:before {
  content: "\e92f";
}
.tsi-blocks-3:before {
  content: "\e930";
}
.tsi-bluetooth:before {
  content: "\e931";
}
.tsi-bookmark:before {
  content: "\e932";
}
.tsi-bookmarks:before {
  content: "\e933";
}
.tsi-book-open:before {
  content: "\e934";
}
.tsi-bricks:before {
  content: "\e935";
}
.tsi-briefcase:before {
  content: "\e936";
}
.tsi-broadcast:before {
  content: "\e937";
}
.tsi-browser:before {
  content: "\e938";
}
.tsi-brush:before {
  content: "\e939";
}
.tsi-bullhorn:before {
  content: "\e93a";
}
.tsi-bus:before {
  content: "\e93b";
}
.tsi-cabinet:before {
  content: "\e93c";
}
.tsi-cable:before {
  content: "\e93d";
}
.tsi-calculator:before {
  content: "\e93e";
}
.tsi-calendar:before {
  content: "\e93f";
}
.tsi-call:before {
  content: "\e940";
}
.tsi-call-ban:before {
  content: "\e941";
}
.tsi-call-coonect:before {
  content: "\e942";
}
.tsi-call-end:before {
  content: "\e943";
}
.tsi-call-incoming:before {
  content: "\e944";
}
.tsi-calling:before {
  content: "\e945";
}
.tsi-call-list:before {
  content: "\e946";
}
.tsi-call-off:before {
  content: "\e947";
}
.tsi-call-outgoing:before {
  content: "\e948";
}
.tsi-call-s:before {
  content: "\e949";
}
.tsi-camera:before {
  content: "\e94a";
}
.tsi-cardiogram:before {
  content: "\e94b";
}
.tsi-cash:before {
  content: "\e94c";
}
.tsi-cd:before {
  content: "\e94d";
}
.tsi-cds:before {
  content: "\e94e";
}
.tsi-certificate:before {
  content: "\e94f";
}
.tsi-chart-1:before {
  content: "\e950";
}
.tsi-chart-2:before {
  content: "\e951";
}
.tsi-chat:before {
  content: "\e952";
}
.tsi-check-list:before {
  content: "\e953";
}
.tsi-checkmark:before {
  content: "\e954";
}
.tsi-checkmark-c:before {
  content: "\e955";
}
.tsi-checkmark-s:before {
  content: "\e956";
}
.tsi-chef-hat:before {
  content: "\e957";
}
.tsi-chip:before {
  content: "\e958";
}
.tsi-clipboard:before {
  content: "\e959";
}
.tsi-clipboard-checkmark:before {
  content: "\e95a";
}
.tsi-clock:before {
  content: "\e95b";
}
.tsi-cloud:before {
  content: "\e95c";
}
.tsi-cloud-in:before {
  content: "\e95d";
}
.tsi-cloud-lock:before {
  content: "\e95e";
}
.tsi-cloud-out:before {
  content: "\e95f";
}
.tsi-clover:before {
  content: "\e960";
}
.tsi-coffee-cup:before {
  content: "\e961";
}
.tsi-cogwheel:before {
  content: "\e962";
}
.tsi-columns:before {
  content: "\e963";
}
.tsi-comment:before {
  content: "\e964";
}
.tsi-compass:before {
  content: "\e965";
}
.tsi-components:before {
  content: "\e966";
}
.tsi-compress-s:before {
  content: "\e967";
}
.tsi-copy:before {
  content: "\e968";
}
.tsi-credit-card:before {
  content: "\e969";
}
.tsi-crop:before {
  content: "\e96a";
}
.tsi-crown:before {
  content: "\e96b";
}
.tsi-cube:before {
  content: "\e96c";
}
.tsi-cursor:before {
  content: "\e96d";
}
.tsi-cut:before {
  content: "\e96e";
}
.tsi-cutlery:before {
  content: "\e96f";
}
.tsi-database:before {
  content: "\e970";
}
.tsi-desktop:before {
  content: "\e971";
}
.tsi-diamond:before {
  content: "\e972";
}
.tsi-direction:before {
  content: "\e973";
}
.tsi-direction-2:before {
  content: "\e974";
}
.tsi-doc:before {
  content: "\e975";
}
.tsi-down:before {
  content: "\e976";
}
.tsi-down-c:before {
  content: "\e977";
}
.tsi-download:before {
  content: "\e978";
}
.tsi-download-l:before {
  content: "\e979";
}
.tsi-drop:before {
  content: "\e97a";
}
.tsi-dropper:before {
  content: "\e97b";
}
.tsi-duplicate:before {
  content: "\e97c";
}
.tsi-edit:before {
  content: "\e97d";
}
.tsi-eject:before {
  content: "\e97e";
}
.tsi-eraser:before {
  content: "\e97f";
}
.tsi-expand-s:before {
  content: "\e980";
}
.tsi-external:before {
  content: "\e981";
}
.tsi-eye:before {
  content: "\e982";
}
.tsi-eye-off:before {
  content: "\e983";
}
.tsi-fast-forward:before {
  content: "\e984";
}
.tsi-female:before {
  content: "\e985";
}
.tsi-film:before {
  content: "\e986";
}
.tsi-filter:before {
  content: "\e987";
}
.tsi-flag:before {
  content: "\e988";
}
.tsi-flag-2:before {
  content: "\e989";
}
.tsi-flame:before {
  content: "\e98a";
}
.tsi-flashlight:before {
  content: "\e98b";
}
.tsi-flask:before {
  content: "\e98c";
}
.tsi-folder:before {
  content: "\e98d";
}
.tsi-folder-add:before {
  content: "\e98e";
}
.tsi-folder-delete:before {
  content: "\e98f";
}
.tsi-folder-in:before {
  content: "\e990";
}
.tsi-folder-lock:before {
  content: "\e991";
}
.tsi-folder-open:before {
  content: "\e992";
}
.tsi-folder-out:before {
  content: "\e993";
}
.tsi-frame:before {
  content: "\e994";
}
.tsi-fuel-pump:before {
  content: "\e995";
}
.tsi-gift:before {
  content: "\e996";
}
.tsi-glass:before {
  content: "\e997";
}
.tsi-globe:before {
  content: "\e998";
}
.tsi-group:before {
  content: "\e999";
}
.tsi-guy-fawkes-mask:before {
  content: "\e99a";
}
.tsi-hat:before {
  content: "\e99b";
}
.tsi-hd:before {
  content: "\e99c";
}
.tsi-hdd:before {
  content: "\e99d";
}
.tsi-headphones:before {
  content: "\e99e";
}
.tsi-heart:before {
  content: "\e99f";
}
.tsi-helicopter:before {
  content: "\e9a0";
}
.tsi-help:before {
  content: "\e9a1";
}
.tsi-history:before {
  content: "\e9a2";
}
.tsi-home:before {
  content: "\e9a3";
}
.tsi-hourglass:before {
  content: "\e9a4";
}
.tsi-id-card:before {
  content: "\e9a5";
}
.tsi-infinity:before {
  content: "\e9a6";
}
.tsi-info-c:before {
  content: "\e9a7";
}
.tsi-key:before {
  content: "\e9a8";
}
.tsi-lamp:before {
  content: "\e9a9";
}
.tsi-laptop:before {
  content: "\e9aa";
}
.tsi-launch:before {
  content: "\e9ab";
}
.tsi-leaf:before {
  content: "\e9ac";
}
.tsi-left:before {
  content: "\e9ad";
}
.tsi-left-c:before {
  content: "\e9ae";
}
.tsi-left-right:before {
  content: "\e9af";
}
.tsi-lightbulb:before {
  content: "\e9b0";
}
.tsi-link:before {
  content: "\e9b1";
}
.tsi-list-1:before {
  content: "\e9b2";
}
.tsi-list-2:before {
  content: "\e9b3";
}
.tsi-list-3:before {
  content: "\e9b4";
}
.tsi-lock:before {
  content: "\e9b5";
}
.tsi-loop:before {
  content: "\e9b6";
}
.tsi-loudspeakers:before {
  content: "\e9b7";
}
.tsi-mail:before {
  content: "\e9b8";
}
.tsi-mail-2:before {
  content: "\e9b9";
}
.tsi-male:before {
  content: "\e9ba";
}
.tsi-man:before {
  content: "\e9bb";
}
.tsi-map:before {
  content: "\e9bc";
}
.tsi-map-marker:before {
  content: "\e9bd";
}
.tsi-marker:before {
  content: "\e9be";
}
.tsi-mask:before {
  content: "\e9bf";
}
.tsi-medical-cross:before {
  content: "\e9c0";
}
.tsi-medical-kit:before {
  content: "\e9c1";
}
.tsi-menu-c:before {
  content: "\e9c2";
}
.tsi-message:before {
  content: "\e9c3";
}
.tsi-mic:before {
  content: "\e9c4";
}
.tsi-mic-off:before {
  content: "\e9c5";
}
.tsi-microphone:before {
  content: "\e9c6";
}
.tsi-minus:before {
  content: "\e9c6";
}
.tsi-minus-c:before {
  content: "\e9c7";
}
.tsi-mobile:before {
  content: "\e9c8";
}
.tsi-money-stack:before {
  content: "\e9c9";
}
.tsi-mood-sad:before {
  content: "\e9ca";
}
.tsi-mood-smile:before {
  content: "\e9cb";
}
.tsi-moon:before {
  content: "\e9cc";
}
.tsi-mortarboard:before {
  content: "\e9cd";
}
.tsi-mouse:before {
  content: "\e9ce";
}
.tsi-music:before {
  content: "\e9cf";
}
.tsi-nav-controls:before {
  content: "\e9d0";
}
.tsi-newspaper:before {
  content: "\e9d1";
}
.tsi-new-window:before {
  content: "\e9d2";
}
.tsi-nodes:before {
  content: "\e9d3";
}
.tsi-note:before {
  content: "\e9d4";
}
.tsi-paper:before {
  content: "\e9d5";
}
.tsi-paperclip:before {
  content: "\e9d6";
}
.tsi-parameters-h:before {
  content: "\e9d7";
}
.tsi-parameters-v:before {
  content: "\e9d8";
}
.tsi-pause:before {
  content: "\e9d9";
}
.tsi-pen:before {
  content: "\e9da";
}
.tsi-pencil:before {
  content: "\e9db";
}
.tsi-percent:before {
  content: "\e9dc";
}
.tsi-picture:before {
  content: "\e9dd";
}
.tsi-pie-chart:before {
  content: "\e9de";
}
.tsi-pill:before {
  content: "\e9df";
}
.tsi-pin:before {
  content: "\e9e0";
}
.tsi-play:before {
  content: "\e9e1";
}
.tsi-playlist:before {
  content: "\e9e2";
}
.tsi-plug:before {
  content: "\e9e3";
}
.tsi-plus:before {
  content: "\e9e4";
}
.tsi-plus-c:before {
  content: "\e9e5";
}
.tsi-power:before {
  content: "\e9e6";
}
.tsi-printer:before {
  content: "\e9e7";
}
.tsi-projector:before {
  content: "\e9e8";
}
.tsi-projector-screen:before {
  content: "\e9e9";
}
.tsi-question:before {
  content: "\e9ea";
}
.tsi-question-c:before {
  content: "\e9eb";
}
.tsi-quotes:before {
  content: "\e9ec";
}
.tsi-radiation:before {
  content: "\e9ed";
}
.tsi-radio:before {
  content: "\e9ee";
}
.tsi-rec:before {
  content: "\e9ef";
}
.tsi-redo:before {
  content: "\e9f0";
}
.tsi-refresh:before {
  content: "\e9f1";
}
.tsi-reminder:before {
  content: "\e9f2";
}
.tsi-reminder-off:before {
  content: "\e9f3";
}
.tsi-remove:before {
  content: "\e9f4";
}
.tsi-remove-c:before {
  content: "\e9f5";
}
.tsi-remove-s:before {
  content: "\e9f6";
}
.tsi-repeat:before {
  content: "\e9f7";
}
.tsi-resize:before {
  content: "\e9f8";
}
.tsi-rewind:before {
  content: "\e9f9";
}
.tsi-right:before {
  content: "\e9fa";
}
.tsi-right-c:before {
  content: "\e9fb";
}
.tsi-router:before {
  content: "\e9fc";
}
.tsi-ruller:before {
  content: "\e9fd";
}
.tsi-save:before {
  content: "\e9fe";
}
.tsi-scales:before {
  content: "\e9ff";
}
.tsi-screen-max:before {
  content: "\ea00";
}
.tsi-screen-min:before {
  content: "\ea01";
}
.tsi-search:before {
  content: "\ea02";
}
.tsi-send:before {
  content: "\ea03";
}
.tsi-server:before {
  content: "\ea04";
}
.tsi-share:before {
  content: "\ea05";
}
.tsi-share-2:before {
  content: "\ea06";
}
.tsi-shield-protection:before {
  content: "\ea07";
}
.tsi-shield-restriction:before {
  content: "\ea08";
}
.tsi-shield-verified:before {
  content: "\ea09";
}
.tsi-ship:before {
  content: "\ea0a";
}
.tsi-shopping-cart:before {
  content: "\ea0b";
}
.tsi-shower:before {
  content: "\ea0c";
}
.tsi-shuffle:before {
  content: "\ea0d";
}
.tsi-signal-disconnect:before {
  content: "\ea0e";
}
.tsi-signal-receiving:before {
  content: "\ea0f";
}
.tsi-signal-searching:before {
  content: "\ea10";
}
.tsi-sign-in:before {
  content: "\ea11";
}
.tsi-sign-out:before {
  content: "\ea12";
}
.tsi-sim-card:before {
  content: "\ea13";
}
.tsi-spinner:before {
  content: "\ea14";
}
.tsi-split:before {
  content: "\ea15";
}
.tsi-spy:before {
  content: "\ea16";
}
.tsi-stack:before {
  content: "\ea17";
}
.tsi-star:before {
  content: "\ea18";
}
.tsi-star-of-life:before {
  content: "\ea19";
}
.tsi-stats:before {
  content: "\ea1a";
}
.tsi-stop:before {
  content: "\ea1b";
}
.tsi-stopwatch:before {
  content: "\ea1c";
}
.tsi-structure-1:before {
  content: "\ea1d";
}
.tsi-structure-2:before {
  content: "\ea1e";
}
.tsi-suitcase:before {
  content: "\ea1f";
}
.tsi-sun:before {
  content: "\ea20";
}
.tsi-tablet:before {
  content: "\ea21";
}
.tsi-tag:before {
  content: "\ea22";
}
.tsi-target:before {
  content: "\ea23";
}
.tsi-thumb-list:before {
  content: "\ea24";
}
.tsi-thumbs-down:before {
  content: "\ea25";
}
.tsi-thumbs-up:before {
  content: "\ea26";
}
.tsi-track-next:before {
  content: "\ea27";
}
.tsi-track-prev:before {
  content: "\ea28";
}
.tsi-train:before {
  content: "\ea29";
}
.tsi-tram:before {
  content: "\ea2a";
}
.tsi-truck:before {
  content: "\ea2b";
}
.tsi-tv:before {
  content: "\ea2c";
}
.tsi-umbrella:before {
  content: "\ea2d";
}
.tsi-undo:before {
  content: "\ea2e";
}
.tsi-unlink:before {
  content: "\ea2f";
}
.tsi-unlock:before {
  content: "\ea30";
}
.tsi-up:before {
  content: "\ea31";
}
.tsi-up-c:before {
  content: "\ea32";
}
.tsi-up-down:before {
  content: "\ea33";
}
.tsi-upload-l:before {
  content: "\ea34";
}
.tsi-usb:before {
  content: "\ea35";
}
.tsi-user:before {
  content: "\ea36";
}
.tsi-users:before {
  content: "\ea37";
}
.tsi-video:before {
  content: "\ea38";
}
.tsi-video-cam:before {
  content: "\ea39";
}
.tsi-voicemail:before {
  content: "\ea3a";
}
.tsi-volume:before {
  content: "\ea3b";
}
.tsi-volume-mute:before {
  content: "\ea3c";
}
.tsi-wallet:before {
  content: "\ea3d";
}
.tsi-warning-c:before {
  content: "\ea3e";
}
.tsi-webcam:before {
  content: "\ea3f";
}
.tsi-webcam-off:before {
  content: "\ea40";
}
.tsi-weigher:before {
  content: "\ea41";
}
.tsi-weight:before {
  content: "\ea42";
}
.tsi-wheelchair:before {
  content: "\ea43";
}
.tsi-wi-fi:before {
  content: "\ea44";
}
.tsi-winner-cup:before {
  content: "\ea45";
}
.tsi-wrench:before {
  content: "\ea46";
}
.tsi-yin-yang:before {
  content: "\ea47";
}
.tsi-zoom-in:before {
  content: "\ea48";
}
.tsi-zoom-out:before {
  content: "\ea49";
}
.tsi-rating-star:before {
  content: "\ea4b";
}
.tsi-printer3d:before {
  content: "\ea4a";
}
.tsi-printer3d-2:before {
  content: "\ea4c";
}
.tsi-cnc:before {
  content: "\ea4d";
}
.tsi-cnc-2:before {
  content: "\ea4e";
}
