section.content
{
    padding-bottom: 0;
}

.topic-view
{
    background: white;
    margin: 0 -15px;
    position: relative;
    border-top: 1px solid #d2d6de;
}

.topic-view .header
{
    padding: 15px;
    border-bottom: 1px solid #d2d6de;
    background: #f7faff;
}

.topic-view .add-message
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #f7faff;
    border-top: 1px solid #d2d6de;
}

.topic-view .add-message .chat-send-message
{
    height: 100px;
}

.topic-view #support-dialog-chat
{
    position: absolute;
    top: 60px;
    bottom: 131px;
    left: 0;
    right: 0;
    overflow: auto;
}

.topic-view .message
{
    padding: 15px;
    border-top: 1px dotted #eee8d5;
}

.topic-view div[data-key]:first-child .message
{
    border-top: none;
}

.topic-view .message .avatar
{
    padding-right: 15px;
    padding-top: 4px;
}

.topic-view .message .message-date
{
    display: inline-block;
    padding-left: 20px;
}

.topic-view .message .message-text
{
    padding-left: 55px;
}