.topic-list .topic-item
{
    border-top: 1px solid #eee8d5;
    background: white;
    min-height: 50px;
    padding: 15px;
}

.topic-list .pager-wrapper{
    border-top: 1px solid #d2d6de;
    margin: 0 -15px;
    padding-left: 15px;
}

.topic-list div[data-key]:first-child .topic-item{
    border-top: 1px solid #d2d6de;
}

.topic-list .topic-item.unreaded{
    background: #f7faff;
}

.topic-list .created-date{
    display: inline-block;
    padding-left: 20px;
}

.topic-list .btn {
    margin-bottom: 3px !important;
}

.topic-list .avatar img{
    border-radius: 6px;
}

.topic-filter{
    padding: 15px;
    border-top: 1px solid #d2d6de;
    background: #f7faff;
    margin: 0 -15px;
}

section.content{
    padding-bottom: 0;
}