


<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Change materials and colors</h4>
            </div>

            <div class="modal-body no-padding">

                <!-- mode changer -->

                <div
                    ng-if="form.canModifyParts"
                    class="form-group with-border with-padding">

                    <label class="radio-inline">
                        <input
                                ng-model="form.forAllFiles" ng-value="true"
                                type="radio"> For all order
                    </label>
                    <label class="radio-inline">
                        <input
                                ng-model="form.forAllFiles" ng-value="false"
                                type="radio"> Per model
                    </label>

                </div>

                <!-- for all files -->

                <div
                        ng-if="form.forAllFiles"
                        class="row with-padding">

                    <div class="col-md-3">
                        <img ng-src="{{replica.previewUrl}}" class="img-rounded" width="100%" style="margin-bottom: 30px">
                    </div>


                    <div class="col-md-9">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label">Material</label>
                                <div class="col-sm-3 col-md-4">
                                    <input ng-model="materialFilter" placeholder="Search material" class="form-control" />
                                </div>
                                <div class="col-sm-7 col-md-6">
                                    <select class="form-control"
                                            ng-model="form.allFilesTexture.materialId"
                                            ng-options=" material.id  as material.title for material in materials | filter:materialFilter">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label">Color</label>
                                <div class="col-sm-3 col-md-4">
                                     <input ng-model="colorFilter" placeholder="Search Color" class="form-control" />
                                </div>
                                <div class="col-sm-7 col-md-6">
                                    <select class="form-control"
                                            ng-model="form.allFilesTexture.colorId"
                                            ng-options="color.id as color.title for color in materialByIdMap[form.allFilesTexture.materialId].colors | orderBy: 'title' | filter:colorFilter">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label">Infill</label>
                                <div class="col-sm-3 col-md-4">
                                    <input ng-model="form.allFilesTexture.infill" placeholder="Search material" class="form-control" />
                                </div>
                            </div>
                        </form>

                    </div>

                </div>


                <!-- per model -->

                <div ng-if="!form.forAllFiles">

                    <div
                            ng-repeat="part in replica.parts"
                            class="row with-padding">

                        <div class="col-md-3">
                            <img ng-src="{{part.previewUrl}}" class="img-rounded" width="100%">
                        </div>



                        <div class="col-md-9">

                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Material</label>
                                    <div class="col-sm-10">
                                        <select class="form-control"
                                                ng-model="form.filesTextures[part.id].materialId"
                                                ng-options=" material.id  as material.title for material in materials">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Color</label>
                                    <div class="col-sm-10">
                                        <select class="form-control"
                                                ng-model="form.filesTextures[part.id].colorId"
                                                ng-options="color.id as color.title for color in materialByIdMap[form.filesTextures[part.id].materialId].colors">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-md-2 control-label">Infill</label>
                                    <div class="col-sm-3 col-md-4">
                                        <input ng-model="form.filesTextures[part.id].infill" placeholder="Search material" class="form-control" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button
                        ng-click="save()"
                        type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
</div>
