<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog change-offer-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Change Printer</h4>
            </div>


            <form method="post" action="/store/store-order/send-print-requests">
                <input type="hidden" name="orderId" value="{{order.id}}">
                <div class="modal-body no-padding">

                    <div
                        ng-if="warnings.length > 0"
                        class="with-border with-padding">
                        <div class="callout callout-danger no-margin">
                            <h4>Warnings</h4>
                            <p ng-repeat="warning in warnings"
                            class="no-margin">{{warning}}</p>
                        </div>
                    </div>

                    <div class="box-comments with-border with-padding">

                        <div class="pull-left">
                            <div class="checkbox no-margin">
                                <label>
                                    <input
                                            ng-model="hideCanclled"
                                            type="checkbox"> Hide cancelled
                                </label>
                            </div>
                        </div>

                        <div class="pull-right">
                            <span ng-if="order.printPrice">Print price : <b>{{order.printPrice}}</b>&nbsp;&nbsp;</span>
                            <span ng-if="order.deliveryPrice">Delivery price : <b>{{order.deliveryPrice}}</b></span>
                            <span ng-if="order.packagePrice">Package price : <b>{{order.packagePrice}}</b></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>







                    <div class="table-responsive">

                        <table class="table offers-table" style="margin-bottom: 0">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Printer</th>
                                    <th>Ps</th>
                                    <th class="text-right">Print Price<br/>total / fee / print</th>
                                    <th>Contacts</th>
                                    <th>Delivery Details</th>
                                    <th>Layer Resolution</th>
                                    <th>Location</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="offer in getFilteredOffers()"
                                    ng-class="{highlighted : offer.isHighlighted}">

                                    <td>
                                        <input type="checkbox" name="selection[]" value="{{offer.printer.id}}"/>
                                    </td>
                                    <td>
                                        <printer-link printer="offer.printer"></printer-link>
                                        <br/>

                                        <span
                                            ng-if="offer.printer.test_status == 'professional'"
                                            class="label label-success"
                                            style="opacity: .5">pro</span>

                                        <span
                                            ng-if="offer.printer.test_status == 'common'"
                                            class="label label-warning"
                                            style="opacity: .5">common</span>

                                        <span
                                            ng-if="offer.isCancelled"
                                            class="label label-danger"
                                            style="opacity: .5">cancelled</span>

                                    </td>
                                    <td><ps-link ps="offer.printer.ps"></ps-link></td>
                                    <td class="text-right">
                                        <b>{{offer.printPrice}} $</b> /
                                        {{offer.feePrice}} /
                                        {{offer.psPrintPrice}}

                                    </td>
                                    <td>
                                        <i>{{offer.printer.ps.phone}}</i><br/>
                                        {{offer.printer.ps.email}}
                                    </td>
                                    <td>
                                        <span style="white-space : nowrap">{{offer.printer.deliveryDetails.title}}</span>
                                        <span class="small" ng-if="offer.printer.deliveryDetails.carrier">
                                            <br/> Carrier : {{offer.printer.deliveryDetails.carrier}}
                                        </span>
                                        <span class="small" ng-if="offer.printer.deliveryDetails.carrier_price">
                                            <br/> Carrier price : {{offer.printer.deliveryDetails.carrier_price}}
                                        </span>
                                        <span class="small">
                                            <br/> Packaging fee: {{offer.printer.deliveryDetails.packing_price}}
                                        </span>
                                        <span class="small" ng-if="offer.printer.deliveryDetails.free_delivery">
                                            <br/> Free Delivery : {{offer.printer.deliveryDetails.free_delivery}}
                                        </span>
                                    </td>
                                    <td ng-bind-html="offer.printer.layerResolution | html"></td>
                                    <td>{{offer.printer.location}}</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Make offers</button>
                </div>

            </form>

        </div>
    </div>
</div>
