<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Change Carrier</h4>
            </div>
            <form method="post" action="/store/store-order/change-carrier">
                <input type="hidden" name="orderId" value="{{order.id}}">
                <input type="hidden" name="_backendCSRF" value="{{getCsrfToken()}}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">Delivery type</div>
                        <div class="col-md-7">
                            <select name="deliveryType" class="form-control" style="width: 300px;">
                                <option value="">No change</option>
                                <option value="standard">Domestic</option>
                                <option value="intl">International</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-3">Carrier by</div>
                        <div class="col-md-7">
                            <select name="carrierBy" class="form-control" style="width: 300px;">
                                <option value="">No change</option>
                                <option value="treatstock">Treatstock</option>
                                <option value="myself">Myself</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
