* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.receipt__payment-details {
    border-top: 1px solid #e0e4e8;
    padding-top: 15px;
}
.payment-details {
    display: block;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    height: auto;
    max-height: 200px;
    margin: 0 0 15px;
    padding: 9px 14px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 0 #e5f2ff;
    border: solid 1px #e0e4e8;
}
.receipt__payment-btns {
    margin: 15px 0;
    text-align: right;
}
.receipt__payment {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #e0e4e8;
}
.receipt-btn {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #505458;
    background: #e0e4e8;
}
.receipt-btn:hover {
    background: #d0d4d8;
    text-decoration: none;
}

body {
    font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
h4 {
    margin-bottom: 0;
}
p {
    margin: 0 0 15px;
}