html, body {
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
    padding: 0px;
    margin: 0;
    height: 100%;
}

#dropzone {
    padding: 10px; 
    border: 1px dashed gray; 
    margin: 10px;  
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px;    
}
#firstmessage {
    position: absolute; 
    top: 50%; 
    text-align: center; 
    margin: 0 auto; 
    width: 100%; 
}
#list {
    float: left;
    padding: 0px 10px 10px 10px;
}
#viewer {
    padding: 25px;
}
.c_li {
}
.c_fn {
    min-width: 200px;
    display: inline-block;
}
.c_fv {
    min-width: 100px;
    display: inline-block;
}
.gray {
    color: #cccccc;
}