/*
 * Component: Direct Chat
 * ----------------------
 */

.side-nav-dropdown {
    margin-bottom: 20px;
}
.side-nav-dropdown .dropdown-toggle {
    text-align: left;
    padding-left: 20px;
}
.side-nav-dropdown.dropdown > .dropdown-toggle .tsi {
    float: right;
    margin: 2px 0 0;
}
.side-nav-dropdown .dropdown-menu {
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.side-nav-dropdown.dropdown.open > .btn:after {
    display: none;
}

.direct-chat__page-title {
    margin: 5px 0 15px;
}
@media (max-width: 767px) {
    .direct-chat__page-title {
        margin: 5px 0 10px;
        font-size: 18px;
        line-height: 1.2;
    }
}

.direct-chat__order {
    margin: 0 0 30px;
    padding: 5px 15px 0;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 54, 153, 0.15);
    background: #ffffff;
}
.direct-chat__order-num {
    display: block;
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.direct-chat__order-hide-btn {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #707478;
    text-decoration: none !important;
}
.direct-chat__order-files {
    margin-bottom: 10px;
}
.direct-chat__order-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 0;
    border-radius: 5px;
    object-fit: cover;
}
.direct-chat__order-material {
    display: inline-block;
}
.direct-chat__order-material > span {
    margin-right: 5px;
}
.direct-chat__order-material .material-item {
    padding-right: 0;
}
.direct-chat__order-control {
    margin: 0 -15px;
    padding: 15px 15px;
    border-top: 1px solid #e0e4e8;
}

.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0 0 10px;
}
.direct-chat .box-body:before,
.direct-chat .box-body:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 15px;
    z-index: 1;
}
.direct-chat .box-body:before {
    top: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.direct-chat .box-body:after {
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.direct-chat__report {
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}
.direct-chat__report > .tsi {
    float: left;
    margin-right: 5px;
    font-size: 16px;
}
@media (min-width: 991px) {
    .direct-chat__report {
        float: right;
    }
}

.direct-chat__delete {
    float: right;
    display: none;
}

.direct-chat__delete a {
    font-size: 14px;
    color: #2d8ee0;
    opacity: 1;
    font-weight: normal;
    line-height: 30px;
}

.direct-chat__delete a:hover,
.direct-chat__delete a:focus {
    color: #41a8ff;
    opacity: 1;
    text-decoration: underline;
}

.direct-chat__delete a .tsi {
    margin-right: 5px;
}

.direct-chat.chat-pane-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.direct-chat-messages {
    position: relative;
    height: auto;
    max-height: 550px;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-blocked-text {
    font-size: small;
}

div .author .direct-chat-blocked {
    background-color: #faa;
}

.direct-chat-msg {
  margin: 5px 0 20px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
  content: " ";
  display: table;
}
.direct-chat-msg:after {
  clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 10px 15px;
  margin: 5px 55px 0 45px;
  color: #3d3d3d;
    background: #f4f8fc;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 25px;
  border: solid transparent;
  border-right-color: #e5f7ff;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}
.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}
.author .direct-chat-text {

    background: #e5f7ff;
}
.author .direct-chat-text:after,
.author .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #f7f7f7;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 32px;
  height: 32px;
}
.author .direct-chat-img {
  float: right;
  margin-right: 10px;
}
.direct-chat-info {
  display: block;
  margin:0 55px 5px 0;
  font-size: 14px;
}

.author .direct-chat-info {
    display: block;
    margin:0 10px 5px 45px;
}
.author .direct-chat-name {
    float: right !important;
}

.direct-chat-timestamp {
    font-size: 12px;
    color: #707478;
    float: right !important;
}

.author .direct-chat-timestamp {
    float: left !important;
}

.direct-chat-controls {
    margin: 0 80px;
    text-align: right;
}

.direct-chat-controls__report-btn {
    font-size: 12px;
    padding: 0;
    color: #909498;
    font-weight: normal;
}
.direct-chat-controls__report-btn:hover,
.direct-chat-controls__report-btn:focus {
    color: #41a8ff;
}

.direct-chat-controls__report-btn > .tsi {
    margin-right: 5px;
    font-size: 11px;
}

.direct-chat-text.unreaded{
    background: #eebe79;
}

.direct-chat__attach-result {
    margin-top: 10px;
}
.direct-chat__attach-result > h4 {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.direct-chat__attach-result-item {
    display: inline-block;
    margin: 0 15px 10px 0;
    padding: 5px 10px;
    background: #f4f8fc;
    border-radius: 5px;
}
.direct-chat__attach-result-item > .btn {
    margin-left: 5px;
}

.chat-message.chat-unread {
    background-color: #b3ddff;
}

.chat-message.chat-unread:hover {
    background-color: #80c6ff;
}

.chat-unread__badge {
    position: absolute;
    top: -2px;
    left: -2px;
    display: inline-block;
    min-width: 14px;
    padding: 0 4px;
    height: 14px;
    background-color: #e00457;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.chat-message__new-btn {
    min-height: 40px;
    text-align: center;
    padding-bottom: 15px;
}

.chat-message {
    position: relative;
    margin-bottom: 10px;
    background: #f4f8fc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.chat-message:hover {
    background: #dfe5eb;
}

.chat-message__close {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

.chat-message__close .close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}

.chat-message-user {
    padding: 15px 0;
    overflow: hidden;
}

.chat-message-user__avatar {
    float: left;
    width: 50px;
    margin: 0 15px 0;
}

.chat-message-user__avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-message-user__info {
    margin-left: 80px;
    padding-top: 5px;
}

.chat-message-user__author-name {
    margin: 0;
    font-weight: bold;
}

.chat-date {
    font-size: 13px;
    color: #707478;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-message__gotolink {
    color: inherit;
    display: block;
    overflow: hidden;
}
.chat-message__gotolink:hover,
.chat-message__gotolink:focus {
    color: inherit;
}

.chat-message-body a:hover,
.chat-message-body a:focus {
    color: inherit;
    text-decoration: none;
}

.chat-message__topic-title {
    display: none;
    margin-top: 0;
    line-height: 20px;
}

.chat-message-text {
    padding: 20px 15px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-message-text > h4 {
    margin-top: 0;
}

.chat-message__recepient-avatar {
    float: left;
    width: 30px;
    margin: 0 10px 0 0;
}

.chat-message__recepient-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chat-message__recepient-avatar+.chat-message__topic-text {
    margin: 15px 0 10px 40px;
    color: #333333;
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-message__topic-text {
    margin-bottom: 10px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-message__topic-blocked{
    font-size: small;
    color: red;
}

@media (max-width: 992px) {
    .chat-message-user {
        padding-bottom: 0;
    }

    .chat-message-text {
        padding: 15px 15px 0;
    }
}

.chat-input {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 30px;
}

.chat-input__attach,
.chat-input__text,
.chat-input__send {
    flex: 0 0 0;
    white-space: nowrap;
    vertical-align: top;
}

textarea.chat-input__text {
    flex: 3 0 auto;
    width: auto;
    height: 40px;
    padding: 9px 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
}
.chat-input__attach,
.chat-input__send {
    padding-left: 15px;
}

@media (max-width: 500px) {
    textarea.chat-input__text {
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 15px;
    }
    .chat-input__attach {
        flex: 1 0 auto;
        padding: 0;
    }
    .chat-input__send {
        flex: 2 0 auto;
        text-align: right;
    }
}

@media (max-width: 500px) {
    .paging .pagination {
        margin: 15px 0;
        width: 100%;
    }
    .paging > .pull-right {
        float: left !important;
    }

    .direct-chat-text {
        margin: 5px 55px 0 45px;
    }

    .order-item .author .direct-chat-info
    .author .direct-chat-info,
    .author .direct-chat-text {
        margin-left: 0;
        margin-right: 55px;
    }

    .direct-chat-info,
    .direct-chat-text {
        margin-right: 0;
    }

    .author .direct-chat-info {
        margin-left: 0;
    }

    .direct-chat-controls {
        margin-right: 10px;
    }
}

.summary {
    display: none;
}

.topicform-memberuser-directmsg {
    margin-bottom: 15px;
    font-weight: bold;
}

.chat-alert {
    margin-top: 10px;
    padding: 15px;
    color: #52575a;
    background: #f4f8fc;
    border-radius: 5px;
}

.chat-alert__title {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.chat-alert__title > .tsi {
    font-weight: bold;
}

.chat-filter {}
@media (max-width: 500px) {
    .chat-filter {
        display: flex;
    }
    .chat-filter .btn {
        padding-left: 0;
        padding-right: 0;
        flex: 1 1 auto;
    }
}
