.checkbox {
  padding-left: 20px;
  min-height: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 7px;
  line-height: 20px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #d0d4d8;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-top: 1px;
  font-size: 12px;
  font-weight: bold;
  color: #707478;
  text-align: center;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  margin: 0 0 0 -20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "ts-icons";
  content: "\e954";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox input[type="checkbox"]:hover + label::before,
.checkbox input[type="radio"]:hover + label::before,
.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before {
  border-color: #c4c4c4;
}

.checkbox-primary input[type="checkbox"]:hover + label::before,
.checkbox-primary input[type="radio"]:hover + label::before,
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  border-color: #2d8ee0;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #333;
}

.checkbox-danger input[type="checkbox"]:hover + label::before,
.checkbox-danger input[type="radio"]:hover + label::before,
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  border-color: #e00457;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #333;
}

.checkbox-info input[type="checkbox"]:hover + label::before,
.checkbox-info input[type="radio"]:hover + label::before,
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  border-color: #a3c7d0;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #333;
}

.checkbox-warning input[type="checkbox"]:hover + label::before,
.checkbox-warning input[type="radio"]:hover + label::before,
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  border-color: #feea3e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #333;
}

.checkbox-success input[type="checkbox"]:hover + label::before,
.checkbox-success input[type="radio"]:hover + label::before,
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  border-color: #82c015;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #333;
}

.radio {
  padding-left: 27px;
}
.radio label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 0;
  min-height: 20px;
  line-height: 20px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 0;
  margin-left: -27px;
  border-radius: 50%;
  background-color: #e0e4e8;
  border: 2px solid transparent;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  cursor: pointer;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  left: 5px;
  top: 6px;
  margin-left: -27px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  margin-top: 0;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

input[type="radio"]:checked + label::before,
input[type="radio"]:hover + label::before {
  border-color: #c4c4c4;
  background: #FFFFFF;
}
input[type="radio"]:checked + label::after {
  background-color: #333;
}
.radio-primary input[type="radio"]:checked + label::before,
.radio-primary input[type="radio"]:hover + label::before {
  border-color: #2d8ee0;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #333;
}
.radio-danger input[type="radio"]:checked + label::before,
.radio-danger input[type="radio"]:hover + label::before {
  border-color: #e00457;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #333;
}
.radio-info input[type="radio"]:checked + label::before,
.radio-info input[type="radio"]:hover + label::before {
  border-color: #a3c7d0;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #333;
}
.radio-warning input[type="radio"]:checked + label::before,
.radio-warning input[type="radio"]:hover + label::before {
  border-color: #ffaa00;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #333;
}
.radio-success input[type="radio"]:checked + label::before,
.radio-success input[type="radio"]:hover + label::before {
  border-color: #82c015;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #303438;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
