.cnc_preloader {
    text-align: center;
    opacity: .3;
    padding: 30px;
}

.cnc_model_view_viewer_render,
.cnc_model_view_viewer_render>canvas{
    width: 300px !important;
    height: 300px !important;
}

.cnc_model_view_settings.table {
    margin: 0;
}
.cnc_model_view_settings.table > tbody > tr > td {
    padding: 0 0 15px;
}
.cnc_model_view_settings.table > tbody > tr > td:first-child {
    padding-right: 10px;
}
.cnc_model_view_settings label {
    padding-top: 5px;
    margin-bottom: 0;
}
.cnc_model_view_settings__qty-input {
    max-width: 80px;
}

.cnc_model_view_service {
    border: 1px solid #e0e4e8;
    border-radius: 5px;
    overflow: hidden;
}

.cnc_filepage_preloader {
    margin: 100px;
    text-align: center;
}

.cnc_works_table_editable {
    white-space: nowrap;
}
.cnc_works_table_editable th:first-child,
.cnc_works_table_editable td:first-child{
    white-space: normal;
}

.cnc_works_table_editable--action_td {
    width: 1%;
    padding-right: 0 !important;
}
.cnc_works_table_editable--action_td .btn {
    opacity: .4;
    transition: opacity 0.1s ease-in-out;
}
.cnc_works_table_editable--action_td .btn:hover {
    opacity: 1;
}

.cnc_works_table_editable--input_cost{
    width: 80px !important;
    display: inline !important;
}

.cnc_works_table_editable--total_row td{
    border-bottom: none !important;
}

.cnc_works_table_editable--file{
    margin: 5px 0 10px;
}

.cnc_works_table_editable--file > span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
    white-space: nowrap;
}

.cnc_works_table_editable--file button{
    opacity: .4;
    transition: opacity 0.1s ease-in-out;
}

.cnc_works_table_editable--file button:hover {
    opacity: 1;
}

.order__cnc-wide-table {
    padding-top: 15px;
    padding-bottom: 15px;
}
.order__cnc-wide-table .table-responsive {
    margin: 0 -15px;
}
.order__cnc-wide-table .cnc_works_table_editable th:first-child,
.order__cnc-wide-table .cnc_works_table_editable td:first-child {
    padding-left: 15px;
}

.order__cnc-part {}
.order__cnc-part + .order__cnc-part {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e0e4e8;
}