.ts-embed-tslink {
    max-width: 1000px;
    margin: 10px auto 0;
    padding: 0;
    font: 14px/20px "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
    text-decoration-skip: ink;
    box-sizing: content-box;
}
.ts-embed-userwidget {
    width: 100%;
    min-height: 1100px;
}

@media (min-width: 480px) {
    .ts-embed-userwidget {
        min-height: 1030px;
    }
}

@media (min-width: 550px) {
    .ts-embed-userwidget {
        min-height: 870px;
    }
}