.ts-embed-tslink {
    max-width: 1000px;
    margin: 10px auto 0;
    padding: 0;
    font: 14px/20px "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
    text-decoration-skip: ink;
    box-sizing: content-box;
}
.ts-embed-userwidget {
    overflow: hidden;
    width: 260px;
    height: 400px;
}

.ts-embed-rate {
    overflow: hidden;
    width: 220px;
    height: 90px;
}

.ts-embed-rate-wide {
    overflow: hidden;
    width: 100%;
    height: 300px;
}