html, body, .ts-embed {
    /*overflow: hidden;*/
    font: 15px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

.ts-embed {
    border: 1px solid #e0e4e8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ts-embed-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 85px;
    height: 20px;
    padding-right: 80px;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    color: #555555;
    background: url("https://static.treatstock.com/static/images/logo_2x.png") no-repeat 100% 0 transparent;
    z-index: 100;
    background-size: contain;
}
.ts-embed-logo:hover {
    color: #e00457;
    text-decoration: none;
}

.ts-e-model-footer {
    display: block;
    padding: 5px 10px 0;
    background: #ffffff;
}

.ts-e-model-title {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    color: #3d3d3d;
    transition: 0.3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ts-e-model-title:hover {
    color: #2d8ee0;
}

.ts-e-model-info {
    float: left;
    width: calc(100% - 110px);
    margin: 0 10px 0 0;
}

.ts-e-model-info__date {
    display: inline-block;
    padding: 5px 10px;
    background: #f6f6f6;
    color: #949494;
    margin: 0 20px 10px 0;
}

.ts-e-model-info__author {
    display: inline-block;
    margin: 5px 0 5px;
    font-size: 13px;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    vertical-align: top;
}

.ts-e-model-info__author > div {
    display: inline-block;
    vertical-align: top;
}

.ts-e-model-info__userpic {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 100%;
    border: 1px solid #f7f7f7;
}

.ts-e-model-info__userpic img {
    width: 100%;
    height: 100%;
}

.ts-e-model-info__username {}

.ts-e-model-info__username a {
    color: #df0458;
    font-weight: bold;
}

.ts-e-model-tags {
    display: block;
    margin: 0 0 15px;
}

.ts-e-model-tags__items {
    display: inline-block;
    border-radius: 2px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    background-color: #feea3e;
    color: #3d3d3d;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: baseline;
}

.ts-e-model-tags__items:hover {
    background-color: #edc714;
    color: #3d3d3d;
    text-decoration: none;
}

.ts-e-model-slider {
    width: 1px;
    min-width: 100%;
    background-color: white;
}

.fotorama__caption__wrap {
    font-size: 11px;
    background: rgba(0, 19, 38, 0.5) !important;
    color: #ffffff;
}

.ts-e-model-slider .fotorama__stage {
    border-bottom: 1px solid #e0e4e8;
}
.ts-e-model-slider .fotorama__nav-wrap {
    background: #ffffff;
}
.ts-e-model-slider .fotorama__nav--dots .fotorama__nav__frame {
    width: 20px;
    height: 20px;
}

.ts-e-model-slider .fotorama__dot {
    width: 6px;
    height: 6px;
    top: 6px;
    left: 6px;
}
.ts-e-model-slider .fotorama__nav__frame.fotorama__active .fotorama__dot {
    border-width: 4px;
}

.ts-e-model-price {
    width: 100px;
    margin-left: calc(100% - 100px);
    white-space: nowrap;
    text-align: right;
}
.ts-e-model-price:after {
    content: '';
    display: table;
    clear: both;
}
.ts-e-model-price__label {
    display: inline-block;
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.ts-e-model-price__value {
    position: relative;
    display: inline-block;
    min-height: 20px;
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    z-index: 10;
    white-space: nowrap;
}
.ts-e-model-print-btn {
    display: block;
    margin: 10px 100px 5px 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #e00457;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.ts-e-model-print-btn:active,
.ts-e-model-print-btn:hover,
.ts-e-model-print-btn:focus {
    text-decoration: none;
    background-color: #f92b57;
    color: #ffffff;
}

.no-img-place {
    position: relative;
    width: 100%;
    height: 0;
}

body.ts-embed--store {
    border: none;
    overflow-x: hidden;
    background: #FFFFFF;
}
.ts-e-store-logo-container {
    height: 45px;
    margin: 0 0 15px;
    border-bottom: 1px solid #f0f4f8;
}
.ts-embed-logo--store {
    position: static;
    width: 190px;
    height: 40px;
    margin-left: 15px;
    padding: 0;
    background-position: 0 0;
}
.ts-e-store-list {
    width: 1px;
    min-width: 100%;
    box-sizing: border-box;
    font-size: 0;
}
.ts-e-store-list:after {
    content: '';
    display: table;
    clear: both;
}
.ts-e-store-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    /*max-width: 360px;*/
    font-size: 14px;
    box-sizing: border-box;
}
@media (min-width: 440px) {
    .ts-e-store-item {
        width: 50%;
        padding: 0 15px;
    }
}
@media (min-width: 768px) {
    .ts-e-store-item {
        width: 33.3333%;
    }
}
@media (min-width: 992px) {
    .ts-e-store-item {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .ts-e-store-item {
        width: 20%;
    }
}

/* Store embed styles */
.catalog-item {
    position: relative;
    margin: 0 0 30px;
    z-index: 0;
    border: 1px solid #e0e4e8;
    border-radius: 10px;
    overflow: hidden;
}
.catalog-item__pic {
    position: relative;
    background: #ffffff;
}
.catalog-item__author {
    display: none;
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.catalog-item__author__avatar {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    background-color: #ffffff;
    text-align: center;
}
.catalog-item__author__avatar img {
    width: auto;
    height: 60px;
}
.catalog-item__author__name {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15px;
    white-space: nowrap;
    padding: 5px 40px 5px 10px;
    background: rgba(0,0,0,0.7);
    border-radius: 5px 5px 0 5px;
    transition: all 0.3s ease;
    color: #ffffff;
}
.catalog-item__author__name:hover {
    color: #ffffff;
}
.catalog-item__author:hover .catalog-item__author__name {
    opacity: 1;
    visibility: visible;
    right: 30px;
}
.catalog-item__pic__img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 75% 0 0 0;
    background-color: #ffffff;
}
.catalog-item__pic__img img, .catalog-item__pic__img__fotorama {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.catalog-item__pic__img img {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.catalog-item__footer {
    position: relative;
    padding: 5px 10px;
    overflow: hidden;
    background: #FFFFFF;
}
.catalog-item__footer__title {
    margin-right: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.catalog-item__footer__title > a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    line-height: 20px;
    color: #2d8ee0;
}
.catalog-item__footer__price {
    position: absolute;
    top: auto;
    bottom: 15px;
    right: 10px;
    max-width: 100px;
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    z-index: 10;
    white-space: nowrap;
}
.catalog-item__footer__price-label {
    display: inline;
    color: #707478;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.catalog-item__footer__price .ts-e-model-price__value {
    margin: 0;
}