.ts-embed-printservice {
    width: 100%;
    min-width: 230px;
    height: 1030px;
}
@media (min-width:480px) {
    .ts-embed-printservice {
        height: 1060px;
    }
}
@media (min-width:550px) {
    .ts-embed-printservice {
        height: 670px;
    }
}