/* Item rendering */
.item-rendering { }

.item-rendering__message {
    margin: 50px 0 0;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    box-shadow: rgba(28, 46, 72, 0.10) 0 10px 40px;
    background: #fff;
}

.item-rendering__line {
    width: 0;
    margin: 15px 0 0;
    padding: 5px;
    border-radius: 10px;
    background: #e00457;
}

@media (min-width: 768px) {
    .item-rendering__message {
        margin: 60px 0 0;
        padding: 40px 30px 30px;
        font-size: 40px;
        line-height: 40px;
    }

    .item-rendering__line {
        margin-top: 30px;
    }
}

@keyframes wave_animation {
    0% { transform: translateY(0) }
    20% { transform: translateY(-3px) }
    35% { transform: translateY(-18px) }
    45% { transform: translateY(-20px) }
    55% { transform: translateY(-18px) }
    80% { transform: translateY(-3px) }
    100% { transform: translateY(0) }
}

.wave-anim {
    animation-name: wave_animation;
    animation-duration: 4500ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.line-anim {
    width: 1%;
}

.item-rendering-external-widget .item-rendering__message {
    margin: 130px 0 0;
}
@media (min-width: 768px) {
    .item-rendering-external-widget .item-rendering__message {
        margin: 120px 0 0;
    }
}