@media (min-width: 992px) {
    .ps-welcome > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
        height: 100%;
    }

    .ps-welcome > [class*="col-"] > .panel {
        height: 100%;
        display: inline-block;
        width: 100%;
    }
}

.ps-welcome { }

.ps-welcome-info {
    margin: 0 auto 20px;
    max-width: 400px;
    width: 100%;
}

.ps-panel-heading {
    height: 45px;
}

.ps-panel-heading .badge {
    background-color: #999 !important;
    margin-right: 4px;
}

.ps-panel-heading .badge-success {
    background-color: #468847 !important;
}

.ps-description {
    height: 180px !important;
}

.ps-upload-photo {
    border: 1px solid #e0e4e8;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ps-upload-photo--modal-sm {
    margin: 10px 0;
}

.ps-info-links {
    margin-bottom: 15px;
}
.ps-info-links__link {
    display: inline-block;
    border-bottom: 1px dashed;
}
.ps-info-links__link:hover,
.ps-info-links__link:focus {
    text-decoration: none;
}
.ps-info-links .input-group-addon:first-child {
    min-width: 100px;
    text-align: left;
}

.validationError .select2-selection{
border-color: #ff0084 !important;
}

.ps-phone-code .control-label {
    display: block;
}

.ps-phone-label {
    float: left;
    width: 100%;
}

.ps-phone-code .form-group {
    margin: 0;
}

.ps-phone-code .help-block {
    margin: 0;
}

.ps-phone-code .select2-selection {
    border-radius: 5px 0 0 5px !important;
}

.ps-phone-code .select2-container {
    float: left;
    width: 130px !important;
}

.ps-phone-field {
    margin-left: 130px;
}

.ps-phone-field .form-control {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.ps-btn-verify {
    /*margin-bottom: 15px;*/
}
@media (max-width: 767px) {
    .ps-btn-verify {
        margin: 15px 0 15px;
    }
}

.phone-flag-icon {
    display: inline-block;
    width: 25px;
    height:18px;
    vertical-align: middle;
    box-shadow: inset 0 0 0 1px #afafaf;
    margin-left: 1px;
    margin-top: -2px;
    margin-right: 10px;
}

.ps-btn-verify .btn {
    padding: 7px;
}

.ps-btn-verify__change-btn {}
.ps-btn-verify__change-btn  .btn {
    margin: 10px 0 15px;
}

.ps-btn-verify__checked {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.ps-btn-verify__checked > .tsi {
    margin-right: 5px;
    font-size: 20px;
    top: 2px;
    position: relative;
    color: #6fa610;
}

.ps-spam-message {
    color: #999;
    font-size: 13px;
}

.dn {
    display: none;
}

/* Step 2 */
.ps-printers-add-yours {
    display: block;
}

@media (min-width: 375px) and (max-width: 768px) {
    .ps-printers-add-yours {
        float: right;
    }
}

@media (min-width: 1200px) {
    .ps-printers-add-yours {
        float: right;
    }
}

.ps-printers-select-title {
    margin: 0 0 5px;
    font-size: 14px;
}

.ps-printers-select {
    height: 350px !important;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .ps-printers-select {
        height: 40px !important;
        padding: 6px 10px;
    }
}

.ps-printers-select option {
    padding: 6px 10px;
}

.ps-printer-name-header { }

.ps-printer-properties-line { }

.ps-printer-properties-line div {
    padding: 0 15px;
    font-size: 14px;
}

.ps-printer-properties-line .col-md-5 {
    color: #979797;
}

@media (max-width: 992px) {
    .ps-printer-properties-line .col-md-7 {
        margin-bottom: 10px;
    }
}

.ps-redefine-specs-header {
    margin: 15px 0;
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
}

.ps-redefine-specs {
    border-top: 1px solid #e4e4e4;
    margin: 15px 0;
    padding: 10px 0;
}

.redefine-specs-button {
    padding-right: 0;
    padding-left: 0;
}

.one-redefined-spec {
    margin-bottom: 10px;
}

.one-redefined-spec .col-md-5 {
    padding-top: 10px;
}

.ps-item-photo, .ps-printer-item-photo {
    background: #efefef;
    border: 1px solid #afafaf;
    border-radius: 5px;
    font-size: 14px;
    height: 170px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
}

.ps-item-photo img {
    height: 170px;
    width: 282px;
}

.ps-item-text h4, .ps-printer-item-text h4 {
    margin-top: 0;
}

.ps-material-options-head-row {
    line-height: 40px;
}

.ps-material-options-row {
    border-bottom: 1px solid #d0d4d8;
    margin: 0 0 25px;
    padding-bottom: 15px;
}

.materialsBlock {
    margin-bottom: 20px;
    padding: 0;
}

.color-one-block {
    margin-bottom: 5px;
    cursor: pointer;
}

.color-one-block__color-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 20px;
}

.color-one-block .color-selected {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    padding: 0;
    border-radius: 50%;
    border: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 2px #fff, inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

/*
Hide Mark sign on selected color block
.color-selected:after {
    content: '\02714';
    position: absolute;
    left: 50%;
    margin-left: -10px;
}
*/

.added-color-select {
    width: 100% !important;
    border-radius: 5px !important;
}

/** Hide spins for numeric input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.ng-invalid:not(.ng-pristine) {
    border: 1px solid #e00457;
}

.oneColorRow {
    position: relative;
    z-index: 20;
    margin: -5px -15px 10px;
    padding: 10px 0 0;
    border-radius: 5px;
    background-color: #f4f8fc;
}

.oneColorRow + .oneColorRow {
    margin-top: 20px;
}

.oneColorRow__price {
    margin-bottom: 10px;
    padding-left: 15px;
}

.oneColorRow__price input {
    width: calc(100% - 90px);
}

.oneColorRow__weight-measure {
    position: absolute;
    top: 0;
    right: 55px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.oneColorRow__weight-currency {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

@media (max-width: 992px) {
    .oneColorRow__price {
        padding-left: 45px;
    }

    .oneColorRow__weight-currency {
        left: 15px;
        width: 30px;
        text-align: center;
    }
}

.oneColorRow__price .btn {
    position: absolute;
    top: 0;
    right: 15px;
}

.colorsBlock {
    position: relative;
}

.oneColorRow.is-calculated {
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #d0d4d8, 0 10px 30px rgba(0, 0, 0, 0.15);
}

.oneColorRow-calculations-bridge {
    display: none;
}

.oneColorRow-calculations {
    display: none;
    padding: 10px 15px;
    z-index: 1;
    font-size: 14px;
}

.oneColorRow-calculations__title {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.oneColorRow-calculations__model-pic {
    width: 100%;
    margin: 0 0 10px;
    border-radius: 5px;
}

.oneColorRow-calculations__color,
.oneColorRow-calculations__material {
    margin-bottom: 5px;
}

.is-calculated .oneColorRow-calculations-bridge,
.is-calculated .oneColorRow-calculations {
    display: block;
}

.oneColorRow-calculations__price {
    margin: 10px -14px;
    padding: 10px 0;
    text-align: center;
    background: #fff;
}

@media (min-width: 992px) {
    .oneColorRow.is-calculated {
        width: calc(100% + 50px);
        padding-right: 20px;
        border-radius: 5px 0 0 5px;
        box-shadow: inset 0 0 0 1px #d0d4d8, 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    .oneColorRow-calculations-bridge {
        display: none;
        position: absolute;
        top: 1px;
        right: -10px;
        width: 30px;
        height: calc(100% - 2px);
        background: #f4f8fc;
        z-index: 10;
    }

    .oneColorRow-calculations {
        display: none;
        position: absolute;
        top: -155px;
        right: -252px;
        width: 252px;
        background: #f4f8fc;
        padding: 10px 15px;
        border-radius: 5px;
        z-index: 1;
        box-shadow: inset 0 0 0 1px #d0d4d8, 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    .is-calculated .oneColorRow-calculations-bridge,
    .is-calculated .oneColorRow-calculations {
        display: block;
    }
}

@media (min-width: 1200px) {
    .oneColorRow-calculations {
        right: -303px;
        width: 303px;
    }
}

.colorsBlock .add-color-button {
    margin-top: 5px;
}

@media (max-width: 992px) {
    .colorsBlock .add-color-button {
        width: 100%;
    }
}

.add-new-color {
    float: left;
    margin: 0 0 30px;
}

@media (min-width: 992px) {
    .add-new-color {
        float: right;
        margin: 10px 0 30px;
        text-align: right;
    }
}

.delivery-mini-header, .delivery-options-right-header {
    /*margin: 15px 0 5px 0;*/
}

.right-delivery-block {
    margin-bottom: 15px;
    border: 1px solid #d0d4d8;
    border-radius: 5px;
}

.right-delivery-block .right-delivery-block__item {
    padding: 5px 10px 5px;
    border-bottom: 1px solid #d0d4d8;
}

.right-delivery-block .right-delivery-block__item:last-child {
    border: none;
}

.right-delivery-block label {
    display: block;
    font-weight: normal;
    padding-left: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delivery-option-field {
    display: none;
}

.edit-ps-printer .delivery-option-field {
    display: block;
}

.delivery-option-input {
    width: calc(100% - 4px);
    margin: 5px 0 10px 4px;
}

.delivery-option-label {
    margin-left: 4px;
    margin-top: 15px;
}

.delivery-option-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background: #f0f4f8;
}
.delivery-option-row__left {
    flex: 0 1 auto;
    word-break: break-word;
    padding: 0 10px;
}
.delivery-option-row__right {
    flex: 0 1 auto;
    margin-left: auto;
}
.delivery-option-row__right .input-sm {
    width: 60px;
    text-align: right;
}

.right-free-delivery {
    margin: 10px 0 0 20px;
}

#map-canvas {
    /*margin-top: 15px;
    width: 100%;
    height: 200px;
    position: relative;*/
}

.show-on-map { }

.minimum-order-price-div {
    margin-top: 30px;
}

.minimum-order-price-div-label {
    line-height: 40px;
    float: left;
    margin: 0 20px 0 0;
}

@media (max-width: 768px) {
    .minimum-order-price-div-label {
        float: none;
    }
}

.dib {
    display: inline-block;
}

.mr5 {
    margin-right: 5px;
}

.delivery-price-header {
    font-size: 12px;
}

.right-add-printer-block {
    padding-top: 0;
}

#imagePreview {
    margin: -28px 0 0 -10px;
}

.dz-details, .dz-progress, .dz-message, .dz-error-message, .dz-success-mark, .dz-error-mark {
    display: none;
}

.drop-photo-preview .dz-image {
    padding: 10px;
}

.drop-photo-preview {
    margin: 10px;
}
.drop-photo-preview img {
    display: none;
}
.drop-photo-preview img[ng-src*="/"],
.drop-photo-preview img[src*="/"] {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.drop-photo-preview img[src*="data"] {
    margin-top: 0;
}

#dropYourPhoto {
    display: block;
    margin: 10px;
    border: 1px dashed #2d8ee0;
    color: #2d8ee0;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 13px;
    cursor: pointer;
}

#dropYourPhoto:hover {
    color: #41a8ff;
    border-color: #41a8ff;
}

.ps-upload-photo--modal-sm #dropYourPhoto {
    padding: 20px 0;
}

#dropYourPhoto .btn {
    display: block;
    padding: 0;
    font-size: 14px;
    padding: 0 5px;
    line-height: 16px;
    text-decoration: none;
    white-space: normal;
    font-weight: normal;
}

.drop-photo-icon {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #2d8ee0;
    margin: 0 auto 10px;
    color: #2d8ee0;
    transition: all 0.3s ease;
}

#dropYourPhoto:hover .drop-photo-icon {
    background: #41a8ff;
    border: 1px solid #41a8ff;
    color: #fff;
}

.drop-photo-hint {
    color: #777;
    padding: 0 5px;
    line-height: 18px;
}
@media (min-width: 599px) {
    .ps-upload-photo--horizontal {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .ps-upload-photo--horizontal .drop-photo-preview {
        flex: 0 1 0px;
        max-width: 140px;
        margin: 0;
    }
    .ps-upload-photo--horizontal .drop-photo-preview img[ng-src*="/"],
    .ps-upload-photo--horizontal .drop-photo-preview img[src*="/"] {
        max-width: 120px;
        margin: 10px;
    }
    .ps-upload-photo--horizontal #dropYourPhoto {
        flex: 1 1 0px;
    }
}

.ps-example-gallery {
    margin-bottom: 10px;
}

.ps-example-gallery__slider {
    padding: 0 15px 15px;
    background: #f0f4f8;
    border-radius: 5px;
}

.ps-example-gallery__slider .fotorama__img,
.ps-example-gallery__slider .fotorama__thumb,
.ps-example-gallery__slider .fotorama__thumb-border {
    border-radius: 5px !important;
}

.ps-example-gallery__slider .fotorama__stage {
    display: none;
}

.ps-example-gallery__slider .fotorama__nav-wrap {
    margin-top: 5px;
}

.ps-example-gallery__slider .fotorama__nav__frame {
    padding-bottom: 0 !important;
}

.ps-example-gallery__add-btn {
    margin-bottom: 20px;
}

.ps-example-gallery__delete-btn {
    display: block;
    margin: 25px auto 0;
}

@media (max-width: 767px) {
    .ps-example-gallery__slider {
        margin: 0 -15px;
        border-radius: 0;
    }

    .ps-example-gallery__add-btn {
        display: block;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .price_settings {
        text-align: right;
    }
}

.price_measure, .price_currency {
    margin-left: 10px;
    width: auto;
    display: inline-block;
}

.price_measure {
    margin-right: 10px;
}

.price_currency-block {
    display: inline-block;
}

@media (max-width: 450px) {
    .price_currency-block {
        float: none;
        margin-top: 10px;
    }
}

.additional-price-div__label {
    float: left;
    padding-top: 10px;
    margin: 0 30px 10px 0;
}

@media (max-width: 768px) {
    .additional-price-div__label {
        float: none;
    }
}

.additional-price-div label {
    font-weight: normal;
}

.additional-price-div__help {
    float: right;
    margin-left: 15px;
    height: 40px;
    line-height: 38px;
}

.ps-steps {
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15);
}

.ps-steps__title {
    margin: 0 -15px;
    padding: 15px;
    background: #f6f8fa;
}

.ps-steps > .nav-tabs {
    margin: 0 -15px 20px;
}

.ps-steps__footer {
    border-top: 1px solid #d0d4d8;
    padding-top: 15px;
    text-align: right;
}

.ps-steps__footer .btn {
    margin-left: 10px;
    margin-bottom: 15px;
}

.ps-steps__footer .btn:first-child {
    margin-left: 0;
}

@media (min-width: 450px) {
    .ps-steps__footer-del-btn {
        float: left;
    }

    .ps-steps__footer-save-btn {
        float: right;
    }
}

@media (max-width: 449px) {
    .ps-steps__title {
        font-size: 25px;
    }
    .ps-steps__footer .btn-primary,
    .ps-steps__footer .btn-warning {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .ps-steps__footer .btn {
        margin-left: 10px;
    }

    .ps-steps__footer .btn:first-child {
        margin-left: 0;
    }
}

.back-button {
    margin-right: 15px;
    display: none;
}

.equipment-header {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0 0 10px;
    margin: 0 0 15px;
    border-bottom: 1px solid #e0e4e8;
}

.equipment-header > .equipment-col {
    color: #606468;
}

.equipment-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 15px;
}

.equipment-col {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
}

.equipment-col--model {
    width: auto;
}

.equipment-col--loc {
    width: auto;
    padding-right: 5px;
}

.equipment-col--materials {
    padding: 5px 10px;
}

.equipment-col--cert { }

.equipment-col--status { }

.equipment-col--moderation { }

.equipment-col--test-order {
    width: 150px;
}

.equipment-label {
    display: none;
}

.equipment-data { }

.equipment-data .checkbox {
    margin: 0;
}

@media (max-width: 991px) {
    .equipment-header {
        display: none;
    }

    .equipment-row {
        margin-bottom: 30px;
        padding: 10px;
        border: 1px solid #e0e4e8;
        border-radius: 5px;
    }

    .equipment-col {
        display: inline-block;
        width: 50%;
        padding-right: 10px;
        vertical-align: top;
    }

    .equipment-col--materials {
        padding: 5px 0;
    }

    .equipment-col--test-order {
        width: 100%;
        padding-top: 15px;
    }

    .equipment-label {
        float: left;
        display: inline-block;
        width: 110px;
        color: #606468;
    }

    .equipment-data {
        margin-left: 110px;
    }
}

@media (max-width: 600px) {
    .equipment-col {
        width: 100%;
    }
}

.my-ps-info {
    margin: -40px 0 30px;
    background: #f6f8fa;
    padding: 30px 0;
}

.my-ps-info__picture {
    float: left;
    width: 120px;
    margin: 0 30px 0 0;
}

.my-ps-info__picture img {
    width: 100%;
    border-radius: 5px;
}

.my-ps-info__data {
    margin-left: 150px;
    overflow: hidden;
}

.my-ps-info__title {
    margin-top: 0;
    margin-bottom: 5px;
}

.my-ps-info__rating {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #909498;
}

.my-ps-info__rating .rating-xs {
    display: inline-block;
}

.my-ps-info__description {
    margin-top: 5px;
    font-size: 14px;
}

.my-ps-info__description + .alert {
    margin-top: 20px;
    clear: both;
}

.my-ps-info__btns {
    margin: 20px 0 0;
}

.my-ps-info__edit-btn,
.my-ps-info__public-btn {
    margin-bottom: 10px;
}

.my-ps-info__edit-btn {
    margin-right: 10px;
}

.my-ps-info__cert-title {
    margin-top: 0;
    line-height: 30px;
}

.my-ps-info__link-benefits {
    display: inline-block;
    border-bottom: 1px dashed;
    text-decoration: none !important;
    line-height: 18px;
}

@media (max-width: 767px) {
    .my-ps-info__picture {
        width: 60px;
        margin-right: 20px;
    }

    .my-ps-info__data {
        margin-left: 0;
        overflow: visible;
    }

    .my-ps-info__title {
        margin-left: 80px;
    }

    .my-ps-info__rating {
        margin: 5px 0 10px 80px;
    }

    .my-ps-printer__facebook-widget {}

    .my-ps-info__description {
        margin: 5px 0 10px;
        float: left;
        width: 100%;
    }

    .my-ps-info__btns {
        margin: 10px 0 20px;
    }
}

.cert-benefits {}
.cert-benefits img {
    width: 100%;
    max-width: 209px;
    height: auto;
    margin: 0 auto;
}
.cert-benefits h4 {
    margin-bottom: 30px;
}

.my-ps-printers {}

.my-ps-printers__title {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
}
.my-ps-printers__title h3 {
    flex: 0 1 auto;
    margin: 0 20px 5px 0;
}
.my-ps-printers__title .dropdown {
    flex: 1 1 auto;
    margin: 0 0 5px;
}

.my-ps-printers__items-list {
    display: flex;
    flex-flow: row wrap;
}

.my-ps-printers__item {
    display: block;
    font-size: 14px;
}

.my-ps-printers__card {
    position: relative;
    margin-bottom: 40px;
    /*border: 1px solid #e0e4e8;*/
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15);
}

.my-ps-printers__card--disabled {
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #edf1f8;
}
.my-ps-printers__card--disabled .my-ps-printers__row {
    opacity: 1;
}
.my-ps-printers__card--disabled .my-ps-printers__row--controls,
.my-ps-printers__card--disabled .my-ps-printers__row--printer,
.my-ps-printers__card--disabled .my-ps-printers__row--stats {
    opacity: 1;
}

.my-ps-printers__card--disabled .my-ps-printers__row--printer .my-ps-printers__block,
.my-ps-printers__card--disabled .my-ps-printers__row--printer .my-ps-printers__heading {
    opacity: 1;
}


.my-ps-printers__row {
    width: 100%;
    position: relative;
    padding: 15px 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.my-ps-printers__row--controls {
    padding-top: 0;
    border: none;
}

.my-ps-printers__row--printer {
    padding-top: 0;
}

.my-ps-printers__row--stats {
    background: #f6f8fa;
}

.my-ps-printers__row--status-bar {
    padding: 10px 15px;
    background-color: #feea3e;
    border: none;
    opacity: 1 !important;
}

.my-ps-printers__row--loc-mat {
    padding-top: 0;
    border: none;
}

.my-ps-printers__row--loc-mat .col-sm-6 {
    min-height: 85px;
    padding-top: 15px;
}

.my-ps-printers__row--loc-mat .col-sm-6::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #e0e4e8;
}
.my-ps-printers__row--loc-mat .col-sm-6:last-child::after {
    left: -1px;
    right: auto;
}

.my-ps-printers__row--add-new {
    margin: 0;
    border: none;
}

.my-ps-printers__block {
    margin-bottom: 15px;
}

.my-ps-printers__block .tsi {
    margin-right: 5px;
}

.my-ps-printers__header { }

.my-ps-printers__header-review {
    position: relative;
    z-index: 10;
    margin-top: 10px;
}
.my-ps-printers__header-review .btn {
    padding-left: 15px;
    padding-right: 15px;
}
.my-ps-printers__header-review .tsi {
    margin-right: 7px;
}
@media (min-width: 600px) {
    .my-ps-printers__header-review {
        float: right;
    }
}

.my-ps-printers__heading {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 20px;
    color: #606468;
    font-weight: 100;
}

.my-ps-printers__heading--printer {
    margin-bottom: 0;
    padding: 0 0 5px;
    color: #404448;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-ps-printer__embed-widget {
    display: inline-block;
    height: 20px;
    padding: 0;
    margin: -5px 0 5px;
    line-height: 20px;
    font-size: 14px;
    border: 0;
    background: none;
    color: #2d8ee0;
}

.my-ps-printer__embed-widget:hover,
.my-ps-printer__embed-widget:focus {
    outline: 0;
    text-decoration: underline;
    color: #41a8ff;
}

.my-ps-printer__embed-widget > .tsi {
    float: left;
    margin: 1px 7px 0 0;
}

.my-ps-printer__embed-widget + .ts-ajax-modal {
    margin-left: 5px;
    margin-right: 15px;
}

.my-ps-printers__controls {
    padding-top: 15px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
}

.my-ps-printers__edit {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 10px 15px 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.my-ps-printers__edit .tsi {
    float: left;
    margin: 1px 7px 0 0;
}

.my-ps-printers__edit--printer {
    position: static;
    padding: 0 15px 0 0;
}

.my-ps-printers__block--description {
    font-size: 14px;
    color: #606468;
}

.my-ps-printers__tech-label {
    max-width: 210px;
    margin: 0 0 5px -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-ps-printers__block--loc { }

.my-ps-printers__block--delivery { }

.my-ps-printers__block--material { }

.my-ps-printers__block--min-price { }

.my-ps-printers__certification-status {
    display: inline-block;
}

.my-ps-printers__block--certification {
    margin-bottom: 10px;
}

.my-ps-printers__block--certification-btn {
    display: inline-block;
}

.my-ps-printers__block--status {
    float: left;
    margin: 0;
}

.my-ps-printers__block--status select {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}

.my-ps-printers__block--status .checkbox-switch {
    display: inline-block;
    height: 21px;
    margin: 0 0 0 5px;
}

.my-ps-printers__block--moderation {
    float: right;
    margin: 0;
}

.my-ps-printers__block--test-order {
    display: inline-block;
    margin: 5px 10px 5px 0;
}

.my-ps-printers__block--test-order-btn {
    display: inline-block;
}

.my-ps-printers__block--portfolio {}

.my-ps-printers__block-widget-html {
}

@media (max-width: 767px) {
    .my-ps-printers__item {
        /*width: 100%;*/
    }

    .my-ps-printers__block--status {
        margin-bottom: 5px;
    }
    .my-ps-printers__block--status,
    .my-ps-printers__block--moderation {
        float: none;
    }

    .my-ps-printers__card--disabled > .my-ps-printers__row {
        -webkit-filter: none;
        filter: none;
    }

    .my-ps-printers__block--test-order {
        margin-right: 10px;
    }

    .my-ps-printers__row--loc-mat .col-sm-6::after {
        display: none;
    }

    .my-ps-printers__block--loc,
    .my-ps-printers__block--material {
        margin-bottom: 5px;
    }
}

.ps-3dprinter-actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@media (max-width: 1199px) {
    .ps-3dprinter-actions {
        position: relative;
    }
}

@media (max-width: 850px) {
    .ps-3dprinter-actions {
        padding: 0 15px;
    }
}

.ps-3dprinter-actions .add-printer {
    margin: 15px 0;
    vertical-align: top;
}

.ps-3dprinter-actions .add-printer:first-child {
    margin-right: 10px;
    margin-bottom: 0;
}

.no-border {
    border: none;
    box-shadow: none;
}

#print_request {
    margin-top: 15px;
}

.print-request-header { }

.print-request-image {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.one-print-request { }

.one-print-request-cancelled-in-new {
    opacity: .5;
}

.one-print-request + .one-print-request {
    margin-top: 0;
    border-top: 1px solid #d0d4d8;
}

.print-request-user-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.one-print-request__user {
    float: left;
}

.one-print-request__user__avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.one-print-request__user__avatar img {
    width: 40px;
    height: 40px;
}

.one-print-request__user__info {
    min-width: 110px;
    margin-left: 50px;
    margin-right: 50px;
}

.one-print-request__header-table {
    float: left;
    margin-top: 5px;
}

.one-print-request__header-table .one-print-request__table td {
    padding-top: 0;
    padding-bottom: 0;
}

.one-print-request__btns {
    float: right;
    text-align: right;
}

.one-print-request__btns .btn {
    margin-left: 10px;
    margin-bottom: 10px;
}

.one-print-request__btns .btn:first-child {
    margin-left: 0;
}

@media (max-width: 440px) {
    .one-print-request__btns .btn {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .one-print-request__btns .btn + .btn {
        margin-top: 15px;
    }
}

@media (max-width: 992px) {
    .one-print-request__btns {
        float: left;
        width: 100%;
        margin-top: 15px;
        text-align: left;
    }

    .one-print-request__btns .btn:last-child {
        float: right;
    }

    .one-print-request__btns .btn:first-child {
        float: none;
    }
}

.one-print-request__btns-edit-tracknum {
    padding: 0;
    border: none;
    margin-bottom: 0 !important;
    float: none !important;
    min-height: 0;
    height: auto;
}
@media (max-width: 599px) {
    .one-print-request__btns-edit-tracknum {
        margin: 10px 0 0 !important;
    }
}

.one-print-request__btns--print-order {
    float: none;
    margin-top: -5px;
    margin-bottom: 10px;
}

.js-set-as-printed {
    margin-bottom: -10px;
}

@media (max-width: 991px) {
    .one-print-request__btns--print-order {
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .js-set-as-printed {
        margin-bottom: 10px;
    }
}

.one-print-request__btns-text {
    margin-top: 5px;
}

.one-print-request__steps {
    border-top: 1px solid #e0e4e8;
    border-bottom: 1px solid #e0e4e8;
    padding-top: 0;
    padding-bottom: 0;
}
.one-print-request__steps-item {
    float: none;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #909498
}
.one-print-request__steps-item--success,
.one-print-request__steps-item--active {
    color: #404448;
}
.one-print-request__steps-item:nth-child(2) {
    background: #f0f4f8;
}
.one-print-request__steps-title {
    margin: 0 0 10px;
}
.one-print-request__steps-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    background: #d0d4d8;
    border-radius: 50%;
}
.one-print-request__steps-count--1 {
    padding-right: 2px;
}
.one-print-request__steps-item--success .one-print-request__steps-count {
    background: #82c015;
    color: #ffffff;
}.one-print-request__steps-item--active .one-print-request__steps-count {
     background: #e00457;
     color: #ffffff;
 }
.one-print-request__steps-item > p {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .one-print-request__steps-item > p {
        min-height: 60px;
    }
}@media (min-width: 992px) {
    .one-print-request__steps-item > p {
        min-height: 40px;
    }
}
.one-print-request__steps-link {
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 14px;
}
.one-print-request__steps-link > .tsi {
    float: left;
    margin-right: 10px;
}
.one-print-request__steps-uploaded {
    background: #f0f4f8;
}
.one-print-request__steps-pic-list {
    margin: 0 -5px;
    padding-top: 15px;
    font-size: 0;
}
.one-print-request__steps-pic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 130px;
    height: auto;
    padding: 0 5px 15px;
    margin-right: 15px;
    border-radius: 5px;
}
.one-print-request__steps-pic-delete,
.one-print-request__steps-pic-rotate {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    background: #e0e4e8;
    color: #404448;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 54, 153, 0.35);
    user-select: none;
}
.one-print-request__steps-pic-delete:hover,
.one-print-request__steps-pic-rotate:hover {
    background: #404448;
    color: #ffffff;
    text-decoration: none;
}

.one-print-request__steps-pic-rotate {
    left: 0;
}
.one-print-request__steps-pic-rotate[disabled] {
    background: #404448;
    color: #a0a4a8;
    cursor: wait;
}

.one-print-request__steps-pic__loader{
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
}

.one-print-request__steps-pic img,
.one-print-request__steps-pic video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.one-print-request__steps-pic .progress {
    position: absolute;
    bottom: 15px;
    left: 5px;
    right: 5px;
    height: 4px;
    margin: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    .one-print-request__steps > .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
    }
    .one-print-request__steps-item {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
    .one-print-request__steps-item:nth-child(2) {
        order: 1;
    }
    .one-print-request__steps-item:nth-child(3) {
        order: 3;
    }
    .one-print-request__steps-uploaded {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        order: 2;
        border: none;
    }
}

.one-print-request__steps-liked {
    margin: 10px 0;
    color: #6fa610;
}
.one-print-request__steps-liked > .tsi {
    margin-right: 7px;
    font-weight: bold;
}

.one-print-request__body {
    background: #f6f8fa;
}
.one-print-request__body:last-child {
    border-radius: 0 0 5px 5px;
}

.one-print-request__body + .one-print-request__body {
    border-top: 1px solid #d0d4d8;
}

.one-print-request__store-item + .one-print-request__store-item {
    margin-top: 15px;
    border-top: 1px solid #e0e4e8;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .one-print-request__store-item + .one-print-request__store-item {
        border-top-color: #d0d4d8;
    }
}

.one-print-request__model-pic {
    position: relative;
}

.one-print-request__model-pic img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}
@media (max-width: 768px) {
    .one-print-request__model-pic img {
        margin-bottom: 10px;
    }
}
.one-print-request__model-view {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

.one-print-request__model-title {
    margin-top: 0;
    font-weight: bold;
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.one-print-request__model-title-link {
    margin-bottom: 5px;
    max-width: 100%;
    padding: 0 !important;
    text-align: left;
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
}

.one-print-request__table {
    margin-bottom: 20px;
}

.one-print-request__table--print-order {
    margin: 0;
}

.one-print-request__table td {
    padding: 3px 5px;
    vertical-align: top;
}

.one-print-request__table__label {
    padding-left: 0 !important;
    color: #707478;
    font-weight: normal !important;
}

.col-sm-7 .one-print-request__table {
    margin-bottom: 0;
}

.one-print-request__printed-count { }

.one-print-request__print-file-button {
    width: 100%;
}

@media (max-width: 767px) {
    .col-sm-5 .one-print-request__table {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
    }

    .one-print-request__table--print-order {
        margin: 20px 0 10px;
    }

    .one-print-request__printed-count {
        border-top: 1px solid #dadada;
        padding-top: 10px;
    }

    .one-print-request__print-file-button {
        width: 100%;
    }
}

.one-print-request__add-service {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.one-print-request__add-service-hint {
    padding: 5px 0 0;
    color: #707478;
}
@media (min-width: 991px) {
    .one-print-request__add-service-hint {
        margin-left:290px;
    }
}
.one-print-request__add-service .form-group {
    flex: 0 0 auto;
    max-width: 100%;
    padding-right: 15px;
}
.one-print-request__add-service .form-group:first-child {
    flex: 1 0 auto;
}
.one-print-request__add-service .form-group:first-child input {
    width: 100%;
}
.one-print-request__add-service .form-group:nth-child(2) {
    min-width: 100px;
}
.one-print-request__add-service .form-group:last-child {
    padding-right: 0;
}
@media (max-width: 500px) {
    .one-print-request__add-service .form-group:first-child,
    .one-print-request__add-service .form-group:nth-child(3) {
        flex: 1 0 auto;
        width: 50%;
    }
    .one-print-request__add-service .form-group:nth-child(2) {
        padding-right: 0;
    }
}

.add-service-table {}
.add-service-table thead {
    background-color: #f6f8fa;
}
.add-service-table .table {
    margin: 0 0 10px;
}
.add-service-table th {
    white-space: nowrap;
}
.add-service-table tr:not(:last-child) {
    border-bottom: 1px solid #e0e4e8;
}
.add-service-table th:empty,
.add-service-table td:empty {
    padding: 0 !important;
}
.add-service-table__decline-reason {
    display: block;
    min-width: 150px;
    margin: 5px 0 10px;
    padding: 5px 10px;
    background-color: #feea3e;
    border-radius: 5px;
    white-space: normal;
    text-align: left;
}
.add-service-table small {
    font-size: 12px;
}
.add-service-table th:first-child,
.add-service-table .add-service-table__title {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.add-service-table__title {
    padding-bottom: 5px !important;
    order: 1;
}
.add-service-table__status {
    order: 4;
}
.add-service-table__created {
    order: 3;
}
.add-service-table__amount {
    font-weight: bold;
    order: 2;
}
.add-service-table__btns {
    padding-bottom: 15px !important;
    order: 5;
}
.add-service-table__btns .btn {
    margin-top: -5px;
}
.add-service-table__btns .btn:first-child {
    margin-right: 10px;
}
@media (max-width: 991px) {
    .add-service-table tr {
        display: flex;
        flex-flow: row wrap;
    }
    .add-service-table th:not(:first-child) {
        display: none;
    }
    .add-service-table td {
        flex: 0 1 auto;
    }
    .add-service-table .add-service-table__title,
    .add-service-table .add-service-table__btns {
        flex: 1 1 100%;
    }
    .add-service-table td:not(:first-child) {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .add-service-table th:first-child,
    .add-service-table td:first-child {
        padding-left: 15px;
    }
    .add-service-table th:last-child,
    .add-service-table td:last-child {
        padding-right: 15px;
    }
    .add-service-table th:not(:first-child),
    .add-service-table td:not(:first-child) {
        white-space: nowrap;
        width: 1%;
        text-align: right;
    }
}

.upload-photo-div {
    margin: 10px 0;
}

@media (max-width: 767px) {
    .upload-photo-div {
        margin: 10px 0 20px;
    }
}

.send-print-request-date,
.send-print-request-printing-time {
    font-size: 13px;
    color: #767676;
}

@media (min-width: 768px) {
    .send-print-request-printing-time {
        text-align: right;
    }
}

.filtersBlock {
    width: 440px;
    margin-bottom: 5px;
}

@media (max-width: 992px) {
    .filtersBlock {
        width: 100%;
    }

    .filtersBlock .row { }
}

@media (max-width: 500px) {
    .filtersBlock .col-xs-6 {
        width: 100%;
    }
}

.no-print-requests {
    margin: 0 15px;
    padding: 20px 0;
}

.one-print-request__user__message {
    position: relative;
    float: right;
    margin: 0;
}

.one-print-request__user__message-badge {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 14px;
    padding: 0 4px;
    height: 14px;
    background-color: #e00457;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    z-index: 1;
}

.request-more-time-span {
    color: #2d8ee0;
    text-decoration: underline;
    cursor: pointer;
}

.request-more-time-span .tsi {
    margin-right: 5px;
}

.upload-photo-modal-button, .close-photo-modal-button {
    /*margin-top: 15px;*/
}

.printed-file-message {
    position: absolute;
    padding: 5px;
    background-color: #82c015;
    color: #fff;
    border-radius: 5px 0 5px 0;
}

/* Animated icon */
.tsi-spin-custom, .tsi-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#printedImagePreview img {
    height: 320px;
}

/* Get Printed Modal styles */

.store-getprinted__ps-title {
    margin-top: 0;
    color: #909498;
    margin-bottom: 20px;
}

.store-getprinted__ps-title strong {
    color: #404448;
}

.store-getprinted__ps-avatar {
    float: left;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.store-getprinted__ps-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.store-getprinted__ps-info {
    margin-left: 70px;
}

.store-getprinted__ps-description {
    font-size: 13px;
}

.store-getprinted__ps-info-row {
    padding: 0 0 10px;
}

.store-getprinted__ps-info-row:last-child {
    padding: 0;
}

.store-getprinted__ps-label {
    float: left;
    width: 90px;
    color: #808488;
}

.store-getprinted__ps-data {
    margin-left: 90px;
}

.store-getprinted__item-title {
    margin-top: 10px;
    color: #909498;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-getprinted__item-title strong {
    color: #404448;
}

.store-getprinted__model-row {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.store-getprinted__model-row + .store-getprinted__model-row {
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
}

.store-getprinted__model-pic {
    display: table-cell;
    vertical-align: top;
    width: 100px;
    padding-right: 10px;
}

.store-getprinted__model-pic img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.store-getprinted__model-info {
    display: table-cell;
    vertical-align: top;
}


.store-getprinted__model-name {
    width: 100%;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-getprinted__model-size {
    font-size: 14px;
    color: #808488;
}

.store-getprinted__model-quantity {
    float: right;
    white-space: nowrap;
}

.store-getprinted__model-quantity label {
    display: block;
}

.store-getprinted__model-quantity .form-group {
    float: left;
    width: 60px;
    margin: 0 10px 0 0;
}

.store-getprinted__model-quantity .form-control {
    height: 30px;
    -moz-appearance: textfield;
    padding: 4px 12px;
    background-color: #fff;
}

.store-getprinted__quantity-btns {
    margin: 23px 0 0 70px;
    font-size: 0;
}

.store-getprinted__quantity-btns a {
    font-size: 30px;
    display: inline-block;
}

.store-getprinted__quantity-btns > span {
    font-size: 30px;
    display: inline-block;
    color: #888;
}

.store-getprinted__quantity-btns a + a,
.store-getprinted__quantity-btns a + span {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .store-getprinted__model-row,
    .store-getprinted__model-pic,
    .store-getprinted__model-info {
        display: block;
    }
    .store-getprinted__model-pic {
        float: left;
    }
    .store-getprinted__model-info {
        margin-left: 100px;
        padding: 0;
    }

    .store-getprinted__model-quantity {
        float: none;
        margin-left: 100px;
        display: block;
        padding: 0;
        white-space: normal;
        overflow: hidden;
    }

    .store-getprinted__model-quantity label {
        display: inline-block;
        margin-right: 10px;
    }
}

.store-getprinted__material-title {
    margin-top: 0;
    color: #909498;
}

.store-getprinted__material-row {
    margin: 0 0 10px;
}

.store-getprinted__material-row:nth-child(odd) {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e4e8;
}

.store-getprinted__material-label {
    float: left;
    width: 80px;
    color: #808488;
}

.store-getprinted__material-label--height {
    line-height: 30px;
}

.store-getprinted__material-data {
    margin-left: 80px;
}

.store-getprinted__material-data .ts-material-color {
    margin-bottom: 10px;
    margin-right: 10px;
}

.store-getprinted__material-row:last-child {
    padding-bottom: 10px;
    border: none;
}

@media (max-width: 768px) {
    .store-getprinted__material-row:last-child {
        border-bottom: 1px solid #e0e4e8;
        margin-bottom: 20px;
    }
}

.store-getprinted__price-title {
    margin-top: 0;
    color: #909498;
}

.store-getprinted__price-row { }

.store-getprinted__price-row + .store-getprinted__price-row {
    padding-top: 10px;
}

.authentise-frame {
    width: 100%;
}

.authentise-frame__pic {
    display: none;
    margin: 30px auto 20px;
}

.requests-banner {
    margin: 15px 0;
    padding: 15px 0 20px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.requests-banner__title {
    margin: 0 15px 20px;
    font-weight: bold;
}

.requests-banner__link {
    display: block;
    margin: 0 15px 20px;
}

.requests-banner__img {
    width: 100%;
    max-width: 565px;
    margin: 0 auto;
}

.requests-banner__btn {
    display: block;
    margin: 0 15px;
    padding-left: 0;
    padding-right: 0;
}

.mobile .requests-banner {
    display: none;
}

@media (max-width: 767px) {
    .requests-banner {
        display: none;
    }
}

/* PS Certification (test) page */
.ps-test { }

.ps-test__item {
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15);
}

@media (min-width: 768px) {
    .ps-test__item {
        min-height: 300px;
    }
}

.ps-test__item-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #505458;
}

.ps-test__item-title-hint {
    font-weight: 100;
    font-size: 40px;
}

.ps-test__item-title-hint--common {
    color: #82c015;
}

.ps-test__item-title-hint--pro {
    color: #e00457;
}

.ps-test__item-description {
    font-size: 14px;
}

.ps-test__item-cert-btn {
    display: block;
    width: 180px;
    margin: 0 auto;
    opacity: 1;
    -webkit-transition: min-height 0.3s ease, min-height 0.3s ease, padding 0.3s ease, line-height 0.3s ease, opacity 0.3s ease;
    -moz-transition: min-height 0.3s ease, min-height 0.3s ease, padding 0.3s ease, line-height 0.3s ease, opacity 0.3s ease;
    -o-transition: min-height 0.3s ease, min-height 0.3s ease, padding 0.3s ease, line-height 0.3s ease, opacity 0.3s ease;
    transition: min-height 0.3s ease, min-height 0.3s ease, padding 0.3s ease, line-height 0.3s ease, opacity 0.3s ease;
}

@media (min-width: 768px) {
    .ps-test__item-cert-btn {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}

.ps-test__item-cert-btn[aria-expanded="true"] {
    min-height: 0;
    height: 0;
    padding: 0;
    border: 0;
    line-height: 0;
    font-size: 0;
    opacity: 0;
    background: #fff;
    border-color: #fff;
}

.ps-test__item-cert-btn:hover[aria-expanded="true"],
.ps-test__item-cert-btn:focus[aria-expanded="true"],
.ps-test__item-cert-btn:active[aria-expanded="true"] {
    background: #fff;
    border-color: #fff;
}

.ps-test__item-cert-block { }

.ps-test__example-pic {
    width: 100%;
    padding: 0 15px;
}

.ps-test__checking-status {
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.ps-upload-photo--ps-test-upload {
    margin-top: 0;
    overflow: hidden;
}

.ps-upload-photo--ps-test-upload > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ps-upload-photo--ps-test-upload > img,
.ps-upload-photo--ps-test-upload .ps-upload-photo__pic {
    position: relative;
    width: 50%;
    max-width: 50%;
    padding: 10px;
    flex: 1 1 33%;
    min-width: 0;
    align-self: flex-start;
}
.ps-upload-photo__pic > img {
    width: 100%;
}
.ps-upload-photo__btn-del {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background: #505458;
    color: #d0d4d8;
    border-radius: 50%;
    border: none;
    padding: 0;
}
.ps-upload-photo__btn-del:hover {
    background: #303438;
    color: #ffffff;
    text-decoration: none;
}

.ps-test__upload-save {
    margin-bottom: 30px;
}

.ps-test__download-btn {
    margin-bottom: 30px;
}

.ps-test__step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left !important;
}

.ps-test__step-count {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    background: #e9ecf0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.ps-test__step-data {
    padding-left: 25px;
}

.ps-test__pic-tips {
    padding: 15px 15px 10px;
    background: #f4f8fc;
    border-radius: 5px;
    color: #52575a;
}

.ps-test__ref {
    display: flex;
    margin: 20px -15px 5px;
    padding: 0 5px;
    flex-flow: nowrap;
}
.ps-test__ref-pics {
    width: 33.3333%;
    margin: 0 10px;
}
.ps-test__ref-pics > img {
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ps-test__ref-pics > img:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 54, 153, 0.3);
}
@media (max-width: 767px) {
    .ps-test__ref {
        padding: 0 9px;
    }
    .ps-test__ref-pics {
        margin: 0 6px;
    }
}

.ps-test__required {
    margin-bottom: 15px;
}

.ps-test__required > .tsi {
    float: left;
    margin-top: -1px;
    margin-right: 7px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.ps-test__required > a {
    display: block;
    overflow: hidden;
}

.ps-test__required--success > .tsi {
    color: #6fa610;
}

.ps-test__required--fail > .tsi {
    color: #e00457;
}

.ps-test__required--fail > a {
    text-decoration: underline;
}

.ps-test__required > .ps-upload-photo {
    margin-top: 10px;
}

/* PS Share link and widgets page */
.ps-share {}
.ps-share__info-show {
    display: inline-block;
    line-height: 15px;
    border-bottom: 1px dashed;
}
.ps-share__info-show:hover,
.ps-share__info-show:focus {
    text-decoration: none;
}
.ps-share__info {
    font-size: 0;
    margin: 0 -10px;
    text-align: center;
}
.ps-share .designer-card__title {
    margin-left: 40px;
}
.ps-share .designer-card__about {
    min-height: 0;
    margin-bottom: 30px;
}

.ps-share .designer-card__edit_url {
    cursor: pointer;
}

.ps-share__info-block {
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    padding: 0 10px;
    vertical-align: top;
}
@media (max-width: 1199px) {
    .ps-share__info-block {
        width: 33.3333%;
    }
}
@media (max-width: 767px) {
    .ps-share__info-block {
        width: 50%;
    }
}
.ps-share__info-block > img {
    width: 80px;
    height: 80px;
}
.ps-share__info-title {
    margin-bottom: 5px;
}
.ps-share__info-text {
    font-size: 12px;
    line-height: 16px;
}
.ps-share__banner {
    padding-top: 20px;
    text-align: center;
    font-size: 80px;
    line-height: 70px;
    color: #e00457;
}

.ps-share__banner > h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 100;
}

.ps-share__textarea {
    font-size: 13px;
    line-height: 18px;
}

.ps-share__icon {
    float: left;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #e00457;
}

label.ps-share__label_entire_print_service {
    font-weight: bold;
}

.ps-share__icon--link { }

.ps-share__icon--embed { }

.ps-share__icon--fb {
    font-size: 20px;
}

.ps-share__icon--fb .soc-icons-facebook:before {
    width: auto;
    margin-left: 0;
}

/* CNC Machines */
.select-cnc {}
.select-cnc__link {
    display: block;
    margin: 20px 0 30px;
    padding: 15px 15px 0;
    border: 1px solid rgb(224, 228, 232);
    border-radius: 5px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select-cnc__link:hover {
    border-color: #909498;
}
.select-cnc__img {
    display: block;
    max-width: 100%;
    margin: 0 auto 10px;
    height: auto;
}
.select-cnc__title {}

.cnc-edit {}
.cnc-edit__tooltip {
    display: inline;
    color: #2d8ee0;
    font-size: 16px;
    cursor: pointer;
}
.cnc-edit__tooltip:hover {
    color: #41a8ff;
}
.cnc-edit__required {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 7px;
    min-height: 20px;
    color: #f05;
}
.cnc-edit__required:before {
    content: '*';
    font-size: 18px;
    position: absolute;
    top: -1px;
}

.cnc-edit .table td:first-child {
    padding-left: 0;
}
.cnc-edit .table td:last-child {
    padding-right: 0;
}
.cnc-edit__btn-group {
    display: inline-block;
}
.cnc-edit__btn-group .btn + .btn {
    margin-left: 10px;
}
td .cnc-edit__btn-group {
    white-space: nowrap;
}

.cnc-edit td .json-editor-btn-delete,
.cnc-edit td .json-editor-btn-movedown,
.cnc-edit td .json-editor-btn-moveup,
.cnc-edit .json-editor-btn-movedown,
.cnc-edit .json-editor-btn-moveup {
    padding-left: 0;
    padding-right: 0;
}

.cnc-edit [data-schematype="array"][data-schemapath^="root.cuttingMachines."] {
    margin-bottom: 15px;
}
.cnc-edit [data-schematype="array"][data-schemapath^="root.cuttingMachines."] > h3 {
    margin-bottom: 5px;
    font-size: 18px;
}
.cnc-edit [data-schematype="array"][data-schemapath^="root.stocks.freeform"] {
    margin-bottom: 20px;
}
.cnc-edit [data-schematype="array"][data-schemapath^="root.stocks.freeform"] > h3,
.cnc-edit [data-schematype="array"][data-schemapath^="root.stocks.slabs"] > h3 {
    margin: 0;
    font-size: 18px;
}

.cnc-edit select.form-control {
    min-width: 100px;
}

.cnc-edit__pic {
    width: 100%;
    max-width: 520px;
}


.my-ps-cnc-machines {}

.estimated-cost-empty {
    margin: 0 0 20px;
    padding: 10px 15px;
    background: #f4f8fc;
    border-radius: 5px;
}
.estimated-cost-empty .tsi {
    margin-right: 7px;
}
.estimated-cost-empty > .btn {
    vertical-align: baseline;
}

.estimated-cost-table {
    margin: 0;
}
.estimated-cost-table caption {
    padding-left: 15px;
    color: #404448;
    font-weight: bold;
}
.estimated-cost-table th {
    white-space: nowrap;
}
.estimated-cost-table th,
.estimated-cost-table td {
    text-align: right;
    white-space: nowrap;
}
.estimated-cost-table > thead > tr > th:first-child,
.estimated-cost-table > tbody > tr > td:first-child {
    padding-left: 15px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.estimated-cost-table > thead > tr > th:nth-child(4),
.estimated-cost-table > tbody > tr > td:nth-child(4) {
    white-space: nowrap;
}
.estimated-cost-table > thead > tr > th:nth-child(5),
.estimated-cost-table > tbody > tr > td:nth-child(5) {
    width: 1%;
    white-space: nowrap;
}

.estimated-cost-table__qty-row {
    white-space: nowrap;
    width: 40px;
}
.estimated-cost-table__qty-row input {
    width: 80px;
    display: inline;
}

.estimated-cost-table__cost-row {
    white-space: nowrap;
}
.estimated-cost-table__cost-row input {
    width: 80px;
    display: inline;
}
.estimated-cost-table > tbody > .estimated-cost-table__total_row > td {
    border-bottom: none;
    vertical-align: middle;
}
.estimated-cost-table__files {
    font-size: 12px;
    color: #707478;
    word-break: break-all;
}

.cnc-machine-edit-table {
    margin-bottom: 10px;
}
.cnc-machine-edit-table > tbody > tr > th {
    padding-top: 0;
    padding-bottom: 0;
}
.cnc-machine-edit-table > tbody > tr > td {
    vertical-align: middle;
    padding-bottom: 5px;
}
.cnc-machine-edit-table > tbody > tr > th:first-child,
.cnc-machine-edit-table > tbody > tr > td:first-child {
    padding-left: 15px;
}
.cnc-machine-edit-table > tbody > tr > th:last-child,
.cnc-machine-edit-table > tbody > tr > td:last-child {
    width: 1%;
    padding-right: 15px;
    white-space: nowrap;
}
.cnc-machine-edit-table > tbody > tr > td:last-child {
    text-align: right;
    font-size: 0;
}
.cnc-machine-edit-table .btn {
    padding: 9px 15px;
    font-size: 14px;
}
.cnc-machine-edit-table .btn + .btn {
    margin-left: 15px;
}

.service-portfolio {}

.service-portfolio__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
}

.service-portfolio__item {
    position: relative;
    flex: 0 1 auto;
    width: 33.3333%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.service-portfolio__hint {
    margin: 15px 0;
    color: #707478;
}

.service-portfolio__pic {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 5px 0 rgba(0, 54, 153, 0.3);
    cursor: pointer;
}
.service-portfolio__pic img {
    display: block;
    width: 100%;
    max-height: 215px;
    border-radius: 5px;
}

.service-portfolio__pic:hover {
    box-shadow: 0 3px 20px 0 rgba(0, 54, 153, 0.3);
}

.service-portfolio__pic.primary-picture,
.service-portfolio__pic.primary-picture:hover {
    cursor: default;
    box-shadow: 0 3px 20px 0 rgba(0, 54, 153, 0.3), 0 0 0 2px #2d8ee0;
}

.service-portfolio__pic.primary-picture:after {
    content: "\e954";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -8px;
    font: normal normal normal 9px/17px "ts-icons";
    color: #fff;
    background: #2d8ee0;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 380px), (min-width: 768px) and (max-width: 992px) {
    .service-portfolio__item {
        width: 50%;
    }
}

build-volume-input {
    display: block;
}

build-volume-input input {
    display: inline-block !important;
    width: 60px !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.service-order-parts {}
@media (max-width: 767px) {
    .service-order-parts {
        margin-bottom: 15px;
    }
}


.preorder-works {}
.preorder-works-cnc {
    color: #ff8f15;
}
.preorder-works__row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    padding: 0 15px 10px;
    border-bottom: 1px solid #e0e4e8;
}
.preorder-works__row--head {
    display: none;
    font-weight: bold;
}
.preorder-works__row--summary {
    margin: 0;
    padding-bottom: 0;
    border: none;
}
.preorder-works__title {
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    width: 100%;
    padding-bottom: 10px;
}
.preorder-works__title input,
.preorder-works__title .select2-selection--single {
    margin: 0 0 5px;
}
.preorder-works__qty {
    flex: 1 1 auto;
    width: 50%;
}
.preorder-works__qty input {
    display: inline;
    width: 60px;
}
.preorder-works__cost {
    flex: 1 1 auto;
    width: 50%;
    white-space: nowrap;
}
.preorder-works__cost input {
    display: inline;
    width: 80px;
}
.preorder-works__controls {
    flex: 1 1 auto;
    margin: 10px -15px 0 0;
    text-align: right;
}
.preorder-works__controls .btn-xs {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 30px;
    height: 30px;
}
.preorder-works__mobile-label {
    font-weight: bold;
    color: #505458;
}
.preorder-works__add {
    width: 100%;
}
.preorder-works__add .btn {
    margin: 0 10px 10px 0;
}
.preorder-works__add .btn:last-child {
    margin-right: 0;
}
@media (min-width: 768px) {
    .preorder-works__qty,
    .preorder-works__cost {
        flex: 1 1 calc(50% - 160px);
    }
    .preorder-works__controls {
        flex: 0 1 160px;
        margin: 20px -15px 0 0;
        text-align: right;
    }

    .preorder-works__add {
        flex: 0 1 calc(100% - 160px);
    }
    .preorder-works__total-cost {
        flex: 0 1 160px;
        text-align: right;
    }
}
@media (min-width: 992px) {
    .preorder-works__row--head {
        display: flex;
    }
    .preorder-works__mobile-label {
        display: none;
    }
    .preorder-works__title {
        flex: 0 0 auto;
        max-width: calc(100% - 340px);
        padding-bottom: 0;
    }
    .preorder-works__title input, .preorder-works__title .select2-selection--single {
        margin: 0;
    }
    .preorder-works__qty {
        text-align: right;
        flex: 0 0 auto;
        width: 80px;
        padding-left: 10px;
    }
    .preorder-works__cost {
        text-align: right;
        flex: 0 0 auto;
        width: 110px;
        padding-left: 10px;
        white-space: normal;
    }
    .preorder-works__cost input {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .preorder-works__controls {
        margin-top: 0;
    }

    .preorder-works__add {
        flex: 1 0 auto;
        width: 0;
    }
    .preorder-works__total-cost {
        flex: 0 0 auto;
        margin-right: 150px;
    }
}

.orders-filter-form {}
.orders-filter-form__create {}
@media (min-width: 768px) {
    .orders-filter-form__create {
        float: right;
    }
}

.service-order-row {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #e0e4e8;
    border-radius: 5px;
}
.service-order-row__status {
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 5px 5px 0 0;
}
.service-order-row__title {
    display: flex;
    position: relative;
    padding: 10px 10px 0;
    flex-flow: wrap;
}
.service-order-row__cnc {
    color: #ff8f15;
    padding-right: 5px;
}
.service-order-row__num,
.service-order-row__deadline,
.service-order-row__reviews,
.service-order-row__actions {
    flex: 0 1 auto;
}
.service-order-row__num {
    position: relative;
    max-width: calc(100% - 280px);
    font-size: 18px;
    font-weight: bold;
}
.service-order-row__num a {
    text-overflow: ellipsis;
    overflow: hidden;
}
.service-order-row__num a span {
    margin-right: 5px;
}
.service-order-row__notification-label {
    position: absolute;
    top: -4px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: #e00457;
    border-radius: 50%;
}
.service-order-row__num-from {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #707478;
}
.service-order-row__deadline,
.service-order-row__reviews {
    color: #707478;
    margin-left: auto;
    flex: 1 0 auto;
    text-align: right;
}
.service-order-row__deadline .label-info {
    min-width: 70px;
}
.service-order-row__deadline .label-info + .label {
    margin-left: 15px;
}
.service-order-row__reviews > a {
    display: inline-block;
}
.service-order-row__reviews .rating-disabled .rating-container {
    cursor: pointer;
}
.service-order-row__actions {
    margin-top: -5px;
    margin-left: auto;
}
.service-order-row__actions .btn.dropdown-toggle {
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
}
.service-order-row__data {
    display: flex;
    position: relative;
    align-items: center;
}

.service-order-row__bottom {
    text-align: right;
    width:100%;
    padding-right: 10px;
}
.service-order-row__pic,
.service-order-row__mat-color,
.service-order-row__qty,
.service-order-row__price,
.service-order-row__machine {
    flex: 0 1 auto;
    padding: 10px;
}
.service-order-row__pic {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 90px;
    min-width: 90px;
    padding: 5px 0 10px 10px;
    text-align: center;
}
.service-order-row__pic-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 0 1 100%;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
}
.service-order-row__pic img {
    height: auto;
    width: 100%;
}
/* one item */
.service-order-row__pic-wrap:nth-child(1):nth-last-child(1) {
    width: 100%;
}
/* two items */
.service-order-row__pic-wrap:nth-child(1):nth-last-child(2),
.service-order-row__pic-wrap:nth-child(2):nth-last-child(1) {
    flex-basis: 50%;
}
.service-order-row__pic-wrap:nth-child(1):nth-last-child(2) {
    border-right: 1px solid #ffffff;
    border-radius: 5px 3px 3px 5px;
}
.service-order-row__pic-wrap:nth-child(2):nth-last-child(1) {
    border-left: 1px solid #ffffff;
    border-radius: 3px 5px 5px 3px;
}
.service-order-row__pic-wrap:nth-child(1):nth-last-child(2) img,
.service-order-row__pic-wrap:nth-child(2):nth-last-child(1) img {
    height: 100%;
    width: auto;
}
/* three items */
.service-order-row__pic-wrap:nth-child(1):nth-last-child(3),
.service-order-row__pic-wrap:nth-child(2):nth-last-child(2) {
    flex-basis: 50%;
    height: 30px;
    border-bottom: 1px solid #ffffff;
}
.service-order-row__pic-wrap:nth-child(1):nth-last-child(3) {
    border-right: 1px solid #ffffff;
    border-radius: 5px 3px 3px 3px;
}
.service-order-row__pic-wrap:nth-child(2):nth-last-child(2) {
    border-left: 1px solid #ffffff;
    border-radius: 3px 5px 3px 3px;
}
.service-order-row__pic-wrap:nth-child(3):nth-last-child(1) {
    width: 100%;
    height: 30px;
    border-top: 1px solid #ffffff;
    border-radius: 3px 3px 5px 5px;
}
/* four items */
.service-order-row__pic-wrap:nth-child(1):nth-last-child(4),
.service-order-row__pic-wrap:nth-child(2):nth-last-child(3),
.service-order-row__pic-wrap:nth-child(3):nth-last-child(2),
.service-order-row__pic-wrap:nth-child(4):nth-last-child(1) {
    flex-basis: 50%;
    height: 30px;
}
.service-order-row__pic-wrap:nth-child(1):nth-last-child(4) {
    border-right: 1px solid #ffffff;
    border-radius: 5px 3px 3px 3px;
    border-bottom: 1px solid #ffffff;
}
.service-order-row__pic-wrap:nth-child(2):nth-last-child(3) {
    border-left: 1px solid #ffffff;
    border-radius: 3px 5px 3px 3px;
    border-bottom: 1px solid #ffffff;
}
.service-order-row__pic-wrap:nth-child(3):nth-last-child(2) {
    border-right: 1px solid #ffffff;
    border-radius: 3px 3px 3px 5px;
    border-top: 1px solid #ffffff;
}
.service-order-row__pic-wrap:nth-child(4):nth-last-child(1) {
    border-left: 1px solid #ffffff;
    border-radius: 3px 3px 5px 3px;
    border-top: 1px solid #ffffff;
}

.service-order-row__pic-wrap--more {}
.service-order-row__pic-wrap--more:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.service-order-row__pic-wrap--more > span {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.service-order-row__pic--empty {}
.service-order-row__pic--empty span {
    flex: 1 0 0px;
    padding: 10px 0;
    line-height: 15px;
    color: #808488;
    font-weight: bold;
    background: #f0f4f8;
    border-radius: 5px;
}

.service-order-row__mat-color {
    min-width: 130px;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.service-order-row__mat-color > div {
    display: inline-block;
    vertical-align: top;
}
.service-order-row__qty {
    width: 70px;
    min-width: 70px;
}
.service-order-row__qty-badge {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 20px;
    color: #fff;
    background: #82c015;
}
.service-order-row__price {
    min-width: 120px;
    white-space: nowrap;
}
.service-order-row__machine {
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.service-order-row__machine .tsi {
    margin-right: 7px;
}
.service-order-row__machine hr {
    margin: 5px 0;
}
.service-order-row__footer {
    padding: 10px 10px;
    background: #f0f4f8;
    border-radius: 0 0 5px 5px;
}
@media (max-width: 600px), (min-width: 768px) and (max-width: 991px) {
    .service-order-row__data {
        flex-flow: wrap;
    }
    .service-order-row__machine {
        flex: 1 1 auto;
        width: 30%;
        padding-top: 0;
    }
}
@media (max-width: 500px) {
    .service-order-row__num {
        order: 1;
        max-width: calc(100% - 50px);
    }
    .service-order-row__deadline,
    .service-order-row__reviews {
        order: 3;
        max-width: 100%;
        width: 100%;
        padding-top: 10px;
        text-align: left;
    }
    .service-order-row__reviews {
        padding: 0 0 5px;
    }
    .service-order-row__actions {
        order: 2;
    }
    .service-order-row__mat-color {
        width: 50%;
        padding-left: 10px;
        padding-top: 0;
    }
    .service-order-row__machine {
        width: 50%;
    }
}

.window-quoting-details__block {
    margin-bottom: 30px;
    border: 1px solid #e0e4e8;
    border-radius: 5px;
    overflow: hidden;
}
.window-quoting-details__block .table-responsive {
    margin: 0;
}
.window-quoting-details__block .table {
    margin-bottom: 10px;
}
.window-quoting-details .form-control {
    min-width: 70px;
}

.cutting-manufacturer {
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e4e8;
}
.cutting-manufacturer__settings {
    display: flex;
    margin-bottom: 15px;
    padding: 10px 5px 0;
    border-radius: 5px;
    background: #f6f8fa;
}
.cutting-manufacturer__settings .form-group {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    align-self: flex-end;
}
.cutting-manufacturer__settings .btn-circle {
    margin: 25px 10px 0;
}
.cutting-manufacturer__settings .form-group input {
    max-width: calc(100% - 30px);
}
.cutting-manufacturer__value {
    position: absolute;
    right: 0;
    bottom: 10px;
}
@media (max-width: 991px) {
    .cutting-manufacturer__settings {
        flex-flow: row wrap;
    }
    .cutting-manufacturer__settings .form-group {
        flex: 1 1 calc(50% - 20px);
    }
    .cutting-manufacturer__settings .form-group:nth-child(1) {
        order: -2;
    }
    .cutting-manufacturer__settings .btn-circle {
        order: -1;
    }

}

/* Certification table */
.cert-table {
    width: 100%;
    margin: 0 0 20px;
}
.cert-table__row {
    display: flex;
    flex-flow: row nowrap;

}
.cert-table__block {
    flex: 1 1 0;
    padding: 10px;
    border-right: 1px solid #d0d4d8;
    border-bottom: 1px solid #d0d4d8;
}
.cert-table__block:nth-child(1) {
    padding-left: 0;
}
.cert-table__block:nth-child(2),
.cert-table__block:nth-child(3) {
    text-align: center;
}
.cert-table__block:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}
.cert-table__block:nth-child(3) {
    padding-right: 0;
    border-right: none;
    min-width: 140px;
}
.cert-table__row:not(.cert-table__row--head) .cert-table__block:nth-child(2) {
    color: #707478;
}
.cert-table__row:not(.cert-table__row--head) .cert-table__block:nth-child(3) {
    color: #6fa610;
    font-weight: bold;
}
.cert-table__row--head {
    text-align: center;
}
.cert-table__row--head .cert-table__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.cert-table__row--head .cert-table__block:nth-child(1) {
    border-right: 0;
    padding-right: 5px;
}
.cert-table__row--head .cert-table__block:nth-child(2) {
    padding-right: 5px;
}
.cert-table__row--head h3 {
    margin: 0;
    font-weight: 300;
}
.cert-table__row--head .btn-info {
    visibility: hidden;
}
.cert-table__price {
    margin: 15px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.cert-table__price small {
    font-weight: normal;
    font-size: 16px;
}
@media (max-width: 500px) {
    .cert-table__row--head h3 {
        font-size: 16px;
    }
}
