/* 
    Created on : Jul 30, 2015, 2:41:35 PM
    Author     : Nabi Ibatulin <n.ibatulin@headrobotics.org>
*/

.field-search,
.field-category,
.field-sortdirection {
    margin: 0;
}
.field-search #search {
    border-radius: 5px;
}

.store-filter__container {
    position: relative;
    z-index: 20;
    margin: 0;
    background-color: #f6f8fa;
}
.store-filter--public-store {
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(181, 205, 225, 0.5);
}

.store-filter__controls {
    position: relative;
    z-index: 10;
    margin: 0 0 30px;
    padding-top: 15px;
    box-shadow: 0 3px 8px 0 rgba(181, 205, 225, 0.5);
}

.store-filter {
    padding: 15px 0 0;
    margin: 0;
    font-size: 0;
}
@media (min-width: 440px) {
    .store-filter--embed {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.store-filter:after {
    content: '';
    display: table;
    clear: both;
}

.store-filter .model-breadcrumbs {
    margin: 5px 0 10px;
}

.store-filter__categories-title {
    display: inline-block;
    max-width: 100%;
    margin: 0 0 15px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    word-wrap: break-word;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
@media (min-width: 768px) {
    .store-filter__categories-title {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 991px) {
    .store-filter__categories-title {
        width: 100%;
    }
}

.store-filter__categories {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
    margin-bottom: 15px;
}
.store-filter__categories h4 {
    float: left;
    margin-right: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #303030;
}
.dropdown--categories {
    float: left;
}

.dropdown--categories .btn .tsi {
    margin-left: 5px;
}

.dropdown--categories.open > .dropdown-toggle.btn-default,
.dropdown--categories.open > .dropdown-toggle.btn-default:hover,
.dropdown--categories.open > .dropdown-toggle.btn-default:focus,
.dropdown--categories.open > .dropdown-toggle.btn-default.focus {
    position: relative;
    border-radius: 5px 5px 0 0;
    z-index: 1110;
}

.dropdown--categories.open > .dropdown-menu {
    width: 210px; /* 500px */
    padding: 0;
    border-radius: 0 5px 5px 5px;
    min-height: 100%;
    z-index: 1100;
}

.dropdown--categories .tablist {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
}

.dropdown--categories .tablist li span {
    display: block;
    line-height: 30px;
    padding: 5px 20px;
    color: #2e2e2e;
    transition: all 0.3s ease;
}

.store-filter__count {
    float: right;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    background: #ffffff;
}

.dropdown-toggle .store-filter__count {
    float: none;
    display: inline-block;
    min-width: 20px;
    margin-left: 5px;
    background: #e0e4e8;
}

.dropdown--categories .tablist li:hover {
    text-decoration: none;
    background: #e6e7e7;
    color: #2e2e2e;
}
.dropdown--categories .tablist li:hover span{
    text-decoration: none;
    cursor: pointer;
}

.dropdown--categories li.active span {
    color: #e00457 !important;
    background: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.dropdown--categories .tab-content {
    display: none;
    background: #F6F6F6;
    margin-left: 180px;
    min-height: 100%;
    padding: 5px 15px;
}

.dropdown--categories .tab-content .tab-pane > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown--categories .tab-content li span {
    display: block;
    line-height: 30px;
    color: #333333;
    transition: all 0.3s ease;
    padding: 0 20px;
    cursor: pointer;
}

.dropdown--categories .tab-content li span:hover {
    text-decoration: none;
    color: #2d8ee0;
    padding-left: 10px;
    cursor: pointer;
}

.store-filter__price {
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
    vertical-align: top;
    margin-bottom: 15px;
}

.store-filter__price h4 {
    display: inline-block;
    margin-right: 5px;
    color: #888888;
}

.slider.slider-horizontal {
    width: 130px;
}

.slider.slider-horizontal .slider-track {
    background: #e4e4e4;
    border-radius: 0;
    box-shadow: none;
}

#w1-slider .slider-selection {
    background: #1e6daf !important;
    box-shadow: none;
}

.slider-handle {
    background: #2d8ee0;
}

.store-filter__by-tag {
    display: inline-block;
    min-width: 130px;
    vertical-align: top;
    margin-bottom: 15px;
}

.store-filter__by-tag .select2-container--krajee .select2-selection {
    padding: 0;
}

.store-filter__by-tag .help-block,
.store-filter__by-tag .form-group {
    margin: 0;
}

.store-filter__pop-tags {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    margin-bottom: 15px;
}

.store-filter__pop-tags h4 {
    display: inline-block;
    margin-right: 5px;
}

.tag-label {
    display: inline-block;
    padding: 5px 10px;
    line-height: 20px;
    background-color: #e4e4e4;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.tag-label:hover,
.tag-label.js-store-item-tag-active{
    background-color: #feea3e;
}

.tag-label + .tag-label {
    margin-left: 5px;
}

.store-item-price {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ededed;
}

.store-item-order-btn {
    font-size: 20px;
    font-weight: 600;
    height: 70px;
    line-height: 70px;
    padding: 0;
}

.store-item-order-btn > .tsi {
    margin-left: 5px;
}

.store-filter__sort-by {
    float: right;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 15px;
}

.store-filter__sort-by h4 {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #303030;
}

.store-filter__sort-by .select2-container--krajee {
    width: auto !important;
    float: left;
}

.store-filter__sort-by .select2-container--krajee + .store-filter__sort-btn {
    margin-left: 10px;
}

.store-filter__sort-btn {
    float: left;
}

@media (max-width: 1200px) {
    .store-filter__price {
        float: right;
        padding: 0;
    }
    .slider.slider-horizontal {
        width: 640px;
    }
    .store-filter__pop-tags {
        /*width: 50%;*/
    }
}

@media (max-width: 992px) {
    .store-filter__price {
        float: right;
        padding: 0;
    }
    .slider.slider-horizontal {
        width: 440px;
    }
}

@media (max-width: 767px) {
    .store-filter__categories {
        width: 100%;
        padding: 0;
    }
    .store-filter__categories h4 {
        display: none;
    }
    .dropdown--categories {
        width: 100%;
    }
    .store-filter__categories .btn {
        width: 100%;
    }
    .store-filter__categories .dropdown--categories.open > .dropdown-menu {
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .store-filter__price {
        float: none;
        width: 100%;
        padding: 0;
    }
    .slider.slider-horizontal {
        width: 50%;
    }
    .store-filter__by-tag {
        width: 100%;
    }
    .store-filter__pop-tags {
        width: 100%;
        padding: 0;
    }
    .store-filter__sort-by {
        float: none;
        width: 100%;
    }
    .store-filter__sort-by .select2-container--krajee {
        width: 150px !important;
    }
}

@media (max-width: 350px) {
    .store-filter__sort-btn {
        float: right;
    }
}

.store-filter-row {}

.store-items-empty {
    margin-bottom: 30px;
    padding: 0 15px;
}

.store-items-list {}
@media (min-width: 400px) and (max-width: 767px) {
    .store-items-list .col-xs-12.col-sm-4.col-md-3 {
        width: 50%;
    }
}

.store-items-pagination {}

.store-items-pagination__show {
    margin-top: -20px;
}

@media (min-width: 768px) {
    .store-items-pagination__show {
        text-align: right;
        margin-top: 0;
    }
}

.billing-row {
    display: flex;
}
.billing-row + .billing-row {
    padding-top: 10px;
}
.billing-row + hr {
    margin: 10px 0;
}
.billing-row__block {
    flex: 1 1 auto;
    max-width: 100%;
}
.billing-row__block:last-child {
    padding-left: 10px;
    text-align: right;
}

.detail-view--custom-view > .detail-view {
    margin: 0;
    border: none;
}

.detail-view--custom-view > .detail-view tr,
.detail-view--custom-view > .detail-view th,
.detail-view--custom-view > .detail-view td {
    background: none !important;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
}

.detail-view--custom-view > .detail-view th {
    padding-left: 0;
    color: #808488;
}

.collection-embed-title {
    margin: 10px 0 20px;
    color: #2d8ee0;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
}
.collection-embed-title:hover {
    color: #41a8ff;
}
.collection-embed-title > div {
    display: inline-block;
    border-bottom: 1px dashed;
}
.collection-embed-title > .tsi {
    position: relative;
    top: 2px;
}
.collection-embed-title.collapsed > .tsi {
    top: 5px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.collection-embed {
    margin-bottom: 20px;
}
.embed-configurator {
    border: 1px solid #e0e4e8;
    margin: 0;
    padding: 0 15px 30px;
    background: #f6f8fa;
    border-radius: 5px;
}

.embed-model-in-store-configurator {
    margin: 0 15px 20px;
    border-left: 0;
    border-right: 0;
}

@media (max-width: 767px) {
    .embed-configurator {
        margin: 0 -15px 20px;
        border-left: 0;
        border-right: 0;
    }
}

#embedframe iframe {
    display: block;
}

.public-store {
    padding-top: 10px;
    background: #f6f8fa;
}
.public-store__heading {
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.public-store__ps-text {
    margin: 0 0 20px;
    color: #404448;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.public-store__hire {
    position: relative;
    margin: 0 0 20px;
}
@media (max-width: 768px) {
    .public-store {
        border-radius: 0;
    }
}

.public-store__h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

.public-store .ps-pub-portfolio {
    padding-top: 0;
    margin-bottom: 0;
}
.public-store .designer-card {
    margin-top: 10px;
}

.empty-cart-head {
    margin: 50px 0 40px;
    text-align: center;
    color: #606468;
}
.empty-cart-head > .tsi {
    font-size: 60px;
    color: #707478;
}
.empty-cart-head > h2 {
    margin: 10px 0;
    font-weight: 500;
}

.empty-cart-board {
    position: relative;
    margin-bottom: 40px;
    padding: 40px 15px;
    box-shadow: 0 10px 30px rgba(0, 54, 153, 0.15);
    background-size: cover;
    overflow: hidden;
    /*color: #ffffff;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*background-image: url("/static/images/main-page-bg/main-page-bg-findps.jpg");*/
    text-align: center;
}
.empty-cart-board--shop {
    /*background-image: url("/static/images/howto-order-bg.jpg");*/
}
.empty-cart-board > .btn {
    margin: 20px auto 0;
}
.empty-cart-board > p {
    margin: 0;
    font-size: 16px;
}
@media (max-width: 768px) {
    .empty-cart-board {
        padding: 30px 10px;
    }
}

.store-layout {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 30px;
}
.store-layout__content {
    position: relative;
    flex: 1 1 auto;
    width:calc(100% - 270px);
}
.store-layout__item {}
.store-layout__sidebar {
    flex: none;
    width: 270px;
    padding-right: 30px;
}
.store-layout__sidebar .dropdown--search {
    width: 100%;
    margin-right: 0;
}
.store-layout__sidebar .dropdown--search .dropdown-toggle {
    width: 100%;
    text-align: left;
}
.store-layout__sidebar .dropdown--search .dropdown-toggle span {
    float: left;
    max-width: calc(100% - 12px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.store-layout__sidebar .dropdown--search .dropdown-toggle > .tsi-down {
    float: right;
    margin-top: 3px;
}
.store-layout__sidebar .search-block {
    float: none;
    width: 100%;
}
.store-layout__sidebar .store-filter__sort-by {
    width: 100%;
    float: none !important;
}
.store-layout__sidebar .search-block:after,
.store-layout__sidebar .store-filter__sort-by:after {
    content: '';
    display: table;
    clear: both;
}
.store-layout__sidebar .store-filter__sort-by h4 {
    width: 100%;
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #505458;
}
.store-layout__sidebar .store-filter__sort-by .select2-container--krajee {
    width: 190px !important;
}
@media (max-width: 767px) {
    .store-layout {
        flex-flow: row wrap;
    }
    .store-layout__content,
    .store-layout__sidebar {
        width: 100%;
        padding: 0;
    }
    .store-layout__content {
        order: 1;
    }
    .store-layout__sidebar .search-block .input-group {
        width: 100%;
    }
    .store-layout__sidebar .store-filter__sort-btn {
        float: left;
    }
}
@media (min-width: 1300px) {
    .store-layout__item {
        width: 25%;
    }
}
@media (min-width: 1500px) {
    .store-layout__item {
        width: 20%;
    }
}

.category-list {}
.category-list__title {
    margin: 0 0 5px;
}
.category-list a {
    color: #404448;
}
.category-list__list {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
}
.category-list__arrow {
    position: relative;
    top: -2px;
    margin-right: 5px;
    font-size: 10px !important;
}
.category-list__list li a {
    margin: 3px 0;
}
.category-list__list a {
    display: inline-block;
}
.category-list__list .category-list__list {
    margin-bottom: 0;
    padding-left: 10px;
}
.category-list__list .active > a {
    font-weight: bold;
    cursor: default;
    text-decoration: none !important;
}

.dynamic-field-filter {
    margin-bottom: 20px;
}
.dynamic-field-filter__label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #505458;
}
.dynamic-field-filter__checks {
    margin-top: -10px;
}

.product-add_button {
    margin-bottom: 30px;
}
.product-add_button label {
    vertical-align: middle;
}

.shop-filter {
    margin: 0;
    padding-top: 20px;
    border-bottom: 1px solid #d0d4d8;
}
.shop-filter__label {
    vertical-align: middle;
}
.shop-filter__btns {
    padding: 4px 15px;
}
.shop-filter__add {}
@media (min-width: 768px) {
    .shop-filter__add {
        text-align: right;
    }
}